[2017-04-26 14:38] chuckatkins opened #96 "Tests for HDF5Writer engine are missing native HDF5 read validation"
Three of the test in `testing/adios2/engine/hdf5/TestHDF5WriteRead.cpp` write data using the HDF5Writer engine and validate it using HDF5 natively:

*  ADIOS2HDF5WriteHDF5Read1D8
*  ADIOS2HDF5WriteHDF5Read2D2x4
*  ADIOS2HDF5WriteHDF5Read2D4x2

The native HDF5 read validation still needs to be implemented.  See `testing/adios2/engine/adios1/TestADIOS1WriteRead.cpp` for an example of how the ADIOS1W

[2017-04-26 14:42] chuckatkins opened #97 "Test for ADIOS1Writer output warning messages"
The ADIOS1Writer tests all output the following warning message:
[code]

[2017-05-06 17:56] chuckatkins commented on #96
Fixed by #101

[2017-05-06 17:56] #96 closed

[2017-06-01 16:00] chuckatkins opened #117 "HDF5 fails with Intel compiler"
See https://open.cdash.org/viewBuildError.php?buildid=4922792

[code]

[2017-06-12 20:44] williamfgc opened #127 "TransportMan class has noexcept function throwing exception"

[2017-06-12 23:31] #127 closed

[2017-06-13 17:14] williamfgc opened #130 "Engine m_Name failed"
m_Name is changed over time

[2017-06-19 18:48] #130 closed

[2017-06-19 19:11] chuckatkins commented on #117
Fixed in master

[2017-06-19 19:11] #117 closed

[2017-06-20 12:28] chuckatkins opened #147 "Unit tests don't run when MPI is enabled"

[2017-06-20 12:29] chuckatkins opened #148 "Doesn't build on Windows"

[2017-06-20 12:30] chuckatkins opened #149 "WIP: Missing tests for python wrappers"

[2017-06-20 12:47] chuckatkins opened #150 "Transition XML parsing to pugixml"

[2017-06-20 12:48] chuckatkins opened #151 "KWSys shouldn't need to be an installed dependency"

[2017-06-20 12:50] chuckatkins opened #152 "Shared libraries are missing version information"

[2017-06-20 12:51] chuckatkins opened #153 "Project config is missing for CMake based projects"
A generated ADIOS2Config.cmake needs to be created for easy import by other cmake based projects

[2017-06-20 12:52] chuckatkins opened #154 "Create dependency information for non-cmake based projects"
Possibly by generating a pkg-config file?

[2017-06-20 14:00] williamfgc opened #156 "Enable low-overhead portable JSON parser for config file"

[2017-06-20 14:12] chuckatkins commented on #156
Just for context, we are currently using JSON for Modern C++ https://nlohmann.github.io/json/ which is a nice, compact, header-only library but seems to have compatibility issues with MSVC compilers.

[2017-06-20 18:50] pnorbert commented on #97
The warning is because the adios1 engine has to delete all variable definitions at every advance to ensure new definitions can be used in consecutive writes. This comes from the difference between adios1 and adios2, namely that array sizes are not defined by other variables anymore but actual values. As a consequence though, the timer variables are deleted as well after the first write and they ar

[2017-06-20 18:50] #97 closed

[2017-06-20 20:07] williamfgc opened #160 "BPWriteReadTest fails"
Due to going back to bp1 format:  name.bp.dir/name.bp.rank

[2017-06-20 20:08] williamfgc opened #161 "Move XML cases to experimental"
Moving XML examples to examples/experimental

[2017-06-20 20:10] williamfgc commented on #156
@JasonRuonanWang told me he can stay away from json dependencies in DataMan

[2017-06-20 20:18] JasonRuonanWang commented on #156
Just want to be clear. It's easy for me to replace the current JSON library with alternative JSON C++ implementations, but it's better to keep the JSON dependency, otherwise I would need to implement my own meta-data serialization method, which is a huge amount of work.

[2017-06-20 20:23] JasonRuonanWang commented on #156
But I think the easiest way is to make DataMan optional, and document that it is only supported on Linux or Mac. I talked with @williamfgc the other day about this. At the end of the day, windows users probably will not use things like DataMan anyway. What they want to use is just open a BP file, take a look at the statistics, visualize data, etc. No one will run large scale data intensive workflo

[2017-06-20 20:40] JasonRuonanWang commented on #156
If you already found it a difficult problem, then I don't think there is an easy way for me to make it work either. But since you guys are looking at JSON config files anyway, I can use whatever JSON library you decide to use. Then we can remove the current JSON library.

[2017-06-20 21:15] #161 closed

[2017-06-21 05:54] chuckatkins commented on #148
Fixed by #163

[2017-06-21 05:54] #148 closed

[2017-06-21 15:02] williamfgc commented on #149
@chuckatkins I just did a PR adding an example from the C++ Tests for different types. It should be sufficient to work on the CMake side while I add more tests.

[2017-06-22 12:17] williamfgc opened #166 "Make missing config file more permissive"
It currently throws an exception in debugMode if file is not found. Just let it run and take settings from compiled source code in the heat transfer example.

[2017-06-22 14:33] #160 closed

[2017-06-22 19:56] williamfgc opened #171 "Bug when using threads in bpFile"
Final BP file is ill-formed.

[2017-06-22 20:19] williamfgc opened #173 "SetParameters initializer list is ambiguous"
Can't be overloaded with std:vector<std::string> and std::map<std::string, std::string> when using an initializer list

[2017-06-22 20:32] williamfgc commented on #173
Solved in PR #174

[2017-06-22 20:32] #173 closed

[2017-06-22 20:32] williamfgc commented on #171
Solved PR #172

[2017-06-22 20:32] #171 closed

[2017-06-22 20:33] williamfgc commented on #166
Solved PR #168

[2017-06-22 20:33] #166 closed

[2017-06-22 21:23] williamfgc opened #175 "BZip2 in Cmake auto mode fails on Titan"
Auto mode tries to compile with BZip2 even though it's not found.
/usr/bin/ld: cannot find -lBZip2::BZip2
../../../lib64/libadios2sys.a(SystemTools.cxx.o): In function `adios2sys::SystemTools::ConvertToUnixSlashes(std::string&)':
SystemTools.cxx:(.text+0x1cbe): warning: Using 'getpwnam' in statically linked applications requires at runtime the shared libraries from the glibc version used for linki

[2017-06-22 21:32] williamfgc opened #176 "Warnings from static build on Titan"
../../../lib64/libadios2sys.a(SystemTools.cxx.o): In function `adios2sys::SystemTools::ConvertToUnixSlashes(std::string&)':
SystemTools.cxx:(.text+0x1cbe): warning: Using 'getpwnam' in statically linked applications requires at runtime the shared libraries from the glibc version used for linking
../../../lib64/libgtest.a(gtest-all.cc.o): In function `testing::internal::StreamingListener::SocketWri

[2017-06-23 01:13] chuckatkins commented on #176
These can be safely ignored.  It's an artifact of the fully static build.

[2017-06-23 01:15] chuckatkins commented on #175
bzip2 is found but the CMake code is using features only found in newer versions of the bzip2 find module.  I'll port the newer find module locally to make sure the build doesn't break.

[2017-06-23 12:07] williamfgc commented on #176
OK, let me try to compile a list of known issues. Thanks!

[2017-06-23 12:07] #176 closed

[2017-06-23 18:25] chuckatkins commented on #151
Fixed by #169

[2017-06-23 18:25] #151 closed

[2017-06-23 19:11] chuckatkins commented on #150
Fixed by #177

[2017-06-23 19:11] #150 closed

[2017-06-23 19:12] chuckatkins commented on #149
Initial test added.  More to be added in the future.

[2017-06-23 19:12] #149 closed

[2017-06-23 19:54] #152 closed

[2017-06-25 01:47] williamfgc opened #180 "Limit File Writes to 2Gb"
Without this limit it fails on Titan for POSIX write

[2017-06-25 11:49] williamfgc opened #182 "Can't find ADIOS1 dependency on Titan, error message is ambiguous"
build_gnu> cmake -DCMAKE_BUILD_TYPE=Release -DADIOS2_USE_BZip2=OFF -DADIOS1_DIR=/sw/xk6/adios/1.12.0/cle5.2_gnu4.9.3 ../ADIOS2
-- The C compiler identification is GNU 4.9.3
-- The CXX compiler identification is GNU 4.9.3
-- Cray Programming Environment 2.5.9 C
-- Check for working C compiler: /opt/cray/craype/2.5.9/bin/cc
-- Check for working C compiler: /opt/cray/craype/2.5.9/bin/cc -- works
-- D

[2017-06-25 12:03] pnorbert commented on #182
I think we only need to process the output of "adios_config -l" to
configure adios1 for adios2. Maybe also -c if necessary.
adios_config by itself runs adios_list_methods which is an MPI binary and
does not run on the login node.
Chuck has found out this before. I thought it was fixed already.

On Sun, Jun 25, 2017 at 7:49 AM williamfgc <notifications@github.com> wrote:

[2017-06-25 12:07] williamfgc commented on #182
@chuckatkins Can you confirm? @pnorbert I am trying on Titan with this commit from Friday:   Merge: 230ef75 502b61b
Author: Chuck Atkins <chuck.atkins@kitware.com>
Date:   Fri Jun 23 15:54:25 2017 -0400

    Merge pull request #179 from chuckatkins/add-lib-version-info

    Setup library versioning.

Not sure if this has the fix. Thanks!

[2017-06-25 12:11] chuckatkins commented on #182
#179 is entirely unrelated. It setup version I fo for libadios2, i.e libadios2.so -> libadios2.so.2.0.0 and libadios2.so.2 -> libadios2.so.2.0.0 .  This issue needs the FindADIOS1.cmake adjusted.

[2017-06-25 12:18] williamfgc commented on #182
@chuckatkins My apologies, I was just pointing out the head commit I am working with. Let me rephrase: Not sure if the code has the fix by then. Thanks!

[2017-06-25 22:43] williamfgc commented on #175
Reopening issue as it's still seen on TItan:  > cmake -DCMAKE_BUILD_TYPE=Release -DADIOS1_DIR=/sw/xk6/adios/1.12.0/cle5.2_gnu4.9.3/ ../ADIOS2
-- The C compiler identification is GNU 4.9.3
-- The CXX compiler identification is GNU 4.9.3
-- Cray Programming Environment 2.5.9 C
-- Check for working C compiler: /opt/cray/craype/2.5.9/bin/cc
-- Check for working C compiler: /opt/cray/craype/2.5.9/bin/c

[2017-06-25 22:45] williamfgc commented on #175
Can we issue an easy exception message so the user can fix it like disable BZip2 in Cmake: -DADIOS2_USE_BZip2=OFF   ?

[2017-06-26 01:43] chuckatkins commented on #180
Fixed by #180

[2017-06-26 01:43] #180 closed

[2017-06-26 02:00] chuckatkins commented on #175
Fixed by #188

[2017-06-26 02:00] #175 closed

[2017-06-26 02:01] chuckatkins commented on #182
Fixed by #186

[2017-06-26 02:01] #182 closed

[2017-06-27 17:04] williamfgc opened #191 "MPI const void* issue"
source/adios2/CMakeFiles/adios2.dir/toolkit/profiling/iochrono/Timer.cpp.o
/mnt/c/Users/ywy/Software/ADIOS2/source/adios2/toolkit/format/bp1/BP1Aggregator.cpp: In member function ‘std::string adios2::format::BP1Aggregator::GetGlobalProfilingLog(const string&)’:
/mnt/c/Users/ywy/Software/ADIOS2/source/adios2/toolkit/format/bp1/BP1Aggregator.cpp:120:74: error: invalid conversion from ‘const void*’ t

[2017-06-27 17:29] chuckatkins commented on #191
Fixed by #192

[2017-06-27 17:29] #191 closed

[2017-06-27 21:00] williamfgc opened #193 "Explicit -DADIOS2_USE_Python=ON fails"
-- Found PythonModule_mpi4py: /usr/lib/python2.7/dist-packages/mpi4py
CMake Error at bindings/python/CMakeLists.txt:37 (install):
  install TARGETS given no LIBRARY DESTINATION for module target "adios2py".

[2017-06-27 21:04] williamfgc opened #194 "Python tests not found"
Not sure if related to issue #193

Found PythonInterp: /usr/bin/python (found version "2.7.11")
-- Found PythonLibs: /usr/lib/x86_64-linux-gnu/libpython2.7.so
-- Found PythonModule_mpi4py: /usr/lib/python2.7/dist-packages/mpi4py

Installation prefix: /usr/local
  Features:
    Library Type: shared
    Build Type:   Debug
    Testing: ON
    Build Options:
      BZip2    : ON
      ZFP      : ON

[2017-06-27 21:06] chuckatkins commented on #194
It won't show up in bin but the test is still there.  Do you see the `PythonBPWrite` tests when you run `ctest -N` ?

[2017-06-27 21:08] williamfgc commented on #194
Yes, it's:  Test #33: PythonBPWrite

[2017-06-27 21:08] chuckatkins commented on #193
Does it work for `ADIOS2_USE_Python=AUTO`?

[2017-06-27 21:13] williamfgc commented on #193
AUTO, OFF and no passing anything work as intended.  It only fails with explicit ON.

[2017-06-27 21:14] #194 closed

[2017-06-27 21:15] chuckatkins commented on #193
Yep, I can reproduce it.

[2017-06-27 21:25] williamfgc commented on #193
Great, thanks!

[2017-06-27 21:28] chuckatkins commented on #193
Does it work for you now?

[2017-06-27 21:29] williamfgc opened #196 "Turn Python OFF if version < 2.7 and issue warning"
Pybind11 only supports Python 2.7 and above, should we handle this nicely on CMake (message e.g. Python 2.6 is not supported, required 2.7 and above).

[2017-06-27 21:40] williamfgc commented on #193
It works, but I found another issue. cmake test fails since I compile in a different location from the one before.  This new location for adios2.so is not in $PYTHONPATH

[2017-06-27 21:42] #193 closed

[2017-06-27 21:43] williamfgc opened #197 "Python tests fail when adios2.so is not in PYTHONPATH"
Start 24: PythonBPWrite
24/25 Test #24: PythonBPWrite ....................................***Failed    0.12 sec

[2017-06-28 20:40] #153 closed

[2017-06-28 21:19] #196 closed

[2017-06-28 21:19] #197 closed

[2017-06-30 13:47] #154 closed

[2017-06-30 18:29] williamfgc opened #205 "bpmeta/bpls Heat transfer example shows corrupted numbers in adios2 writer"
At rank 10 and 11, when running mpirun -n 12 ./heatTransfer_write_adios2 ....

[2017-06-30 18:40] #205 closed

[2017-07-19 19:03] williamfgc opened #208 "Tests fail on Mac for long int"
long int not compatible with int64_t , it's long long int on Mac

[2017-07-19 20:05] williamfgc opened #210 "Default static build libadios.a on Mac and Linux (Ubuntu 16.04)"

[2017-07-20 17:00] williamfgc opened #211 "Generated BP File on Windows is corrupted"

[2017-07-21 13:21] williamfgc opened #213 "ADIOS2_BUILD_TESTING doesn't work on Windows"
Using Windows 10 and Visual Studio 17. Errors related to google-test and libcpmtd.lib.  Compilation works with -DADIOS2_BUILD_TESTING=OFF

[2017-07-21 18:59] #208 closed

[2017-07-21 19:01] williamfgc opened #214 "Clang compiler removes ADIOS copy constructor"
GNU is permissive. Solution: eliminate the copy constructor explicitly.

[2017-07-25 22:04] williamfgc opened #216 "ADIOS Copy Constructor issue with Python Bindings"

[2017-07-26 13:11] williamfgc commented on #216
Tested on Mac and Linux (Ubuntu)

[2017-07-26 13:11] #216 closed

[2017-07-26 13:13] williamfgc commented on #214
Solved by PR #212

[2017-07-26 13:13] #214 closed

[2017-07-26 13:15] williamfgc commented on #211
Solved with PR #212.

Root cause:
Missed binary mode in opening files.
Reinterpret_cast between size_t* and uint_64t* showed non-zero bytes on Windows. Replaced with local variable + static_cast

[2017-07-26 13:15] #211 closed

[2017-07-26 13:24] williamfgc commented on #210
@chuckatkins please take a look at this issue since this also prevents the Python bindings to be build. It would make @guj and my job very easy. Thanks!

[2017-07-26 19:54] #210 closed

[2017-07-28 18:47] chuckatkins opened #220 "Add support for version checking in FindZFP"
Minimum version required is 0.5.1, but FindZFP doesn't currently handle version checking

[2017-07-28 19:05] HaochengLIU commented on #220
Hello world!

[2017-07-31 13:38] williamfgc opened #222 "Make numpy mandatory for Python bindings"
Numpy is a mandatory dependency as it provides sizeof(T) and contiguous memory data (1D numpy arrays) needed by adios2 operations.

[2017-08-02 08:28] ax3l commented on #222
Quick question: pybind11 can also pull in scipy dependencies for matrix binding/operations - you don't depend on those, right?

[2017-08-02 08:31] ax3l opened #226 "Embedded Dependencies: Allow External Versions"
From https://github.com/LLNL/spack/pull/4944/files#r130646113:

It would be awesome for packaging if the currently shipped embedded dependencies can optionally be ignored and taken from external versions.

[2017-08-08 12:23] williamfgc commented on #222
@ax3l for now we stick with their numpy support, http://pybind11.readthedocs.io/en/stable/advanced/pycpp/numpy.html ...that should give ADIOS2 enough coverage for Python applications. Unless, there is a strong case/reason for using scipy dependencies.

[2017-08-08 12:28] ax3l commented on #222
@williamfgc all right, thanks and keep up the great work!

[2017-08-09 00:38] williamfgc opened #230 "Path in bp file name fails"
/path/to/file doesn't produce /path/to/file.bp.dir/file.bp.0

[2017-08-09 00:47] williamfgc commented on #230
To do:
Add tests

[2017-08-10 00:31] williamfgc opened #232 "Python ctest and make install fail on Mac"
Python adios2.so not created under build/lib/python/... , but under build/Library/python/... on Mac.  This was reproduced on @JasonRuonanWang Mac as well.  Make install stops when reaching the Python bindings section.

[2017-08-22 12:22] #222 closed

[2017-08-22 12:39] chuckatkins commented on #232
That's correct.  This is the expected behavior.  Rather than us specifying a location to put the resulting `.so`, we interrogate python to retrieve it's directory configuration.  This way the layout we use will match whatever the underlying python expects.

I'm not able to reproduce this as a problem.  Can you please provide more information on the ctest failure and how to reproduce it?

[code]
[c

[2017-08-28 13:34] chuckatkins opened #244 "Global variable definitions are incorrect in tests"
The size, shape, and count parameters are being used incorrectly.   See 1d14e4d841a5f1f248113420631aec5b42568037, which fixes the 1D array for the ADIOS1 test.  This needs to be applied similarly to the 2D tests and the other engines.

[2017-08-30 00:51] #244 closed

[2017-08-30 15:27] HaochengLIU commented on #230
@williamfgc
Hi William, since I'm working on make BP tests able to run parallel, I can handle this issue.

[2017-08-30 16:38] williamfgc commented on #230
Hi @HaochengLIU thanks for reminding me I had an open ticket. This should have been fixed in PR #231, we need to add more tests for names in the form: /path/a/b/c/file

[2017-08-31 13:33] HaochengLIU commented on #230
Thanks @williamfgc , I've incorporated the OS path separator in PR #252 .

[2017-08-31 14:23] #230 closed

[2017-08-31 14:34] HaochengLIU opened #254 "TestBPWriteReadJson is not stable when running in MPI"
BPWriteReadJson test would fail from time to time with a Json parser error. For now it's disabled to make dashboard green.
CDash reference [link](https://open.cdash.org/testDetails.php?test=578989776&build=5042280).

[2017-09-05 13:00] chuckatkins opened #259 "Add Windows CI"
Add continuous Integration for Windows

[2017-09-05 14:33] williamfgc commented on #254
@HaochengLIU   the error seems to be due to our third party json reader not being able to parse the profiling.json file. I can't reproduce the issue on any of my systems, can you make sure that the created file is accessible? A separate issue, is that the number of bytes is harcoded, but that should be platform independent and it's not what the error message is telling us. Let me know.

[2017-09-05 15:27] williamfgc opened #262 "ADIOS1 dependency forced in current master"
The current master tries to compile tests that depend on ADIOS1 even though the dependency was not found by cmake

[2017-09-06 12:09] HaochengLIU commented on #254
Hi William, thanks for looking into this and I can not reproduce this bug on my laptop also... Let's record this issue on github for now.

[2017-09-06 12:09] #254 closed

[2017-09-06 14:10] williamfgc commented on #254
@HaochengLIU like @chuckatkins said, it's a Heisenbug....still, this will be changed in the long-term. I needed some kind of first order profiling info for the tests on Titan. Thanks!

[2017-09-06 17:21] #262 closed

[2017-09-20 17:09] chuckatkins commented on #147
Fixed

[2017-09-20 17:09] #147 closed

[2017-09-20 17:24] JasonRuonanWang opened #271 "JSON dependency not found on Windows"
@chuckatkins I got this error from the pull request checking. It compiles perfectly on Mac and Linux but apparently on Windows it cannot find the JSON header file.

Affected: PR #270

C:\projects\adios2\source\adios2/toolkit/transportman/dataman/DataMan.h(15): fatal error C1083: Cannot open include file: 'json.hpp': No such file or directory [C:\projects\adios2build\build_visual-studio\source\adio

[2017-09-20 19:14] chuckatkins commented on #271
This isn't a bug but a problem with the code in the reference PR.

[2017-09-20 19:14] #271 closed

[2017-09-20 19:29] chuckatkins commented on #213
Seems to have resolved itself at somepoint.

[2017-09-20 19:29] #213 closed

[2017-09-21 15:44] chuckatkins commented on #259
Done

[2017-09-21 15:44] #259 closed

[2017-09-21 16:37] scottwittenburg opened #274 "Problem enabling Python on Windows"
There seems to be some problem finding all the pieces needed to enable python when configuring on windows:

[code]

[2017-10-03 14:46] chuckatkins opened #276 "Unable to get detailed numpy type info into C++ code from dtype"
The `pybind11::dtype` object allows access to low-level type information via the `kind()` method, which maps to the `numpy.dtype.kind` python property.  This is only a coarse level of type information and is missing sizing.  For instance, `pybind11::dtype::of<float>().kind()` is equal to `pybind11::dtype::of<double>::kind()` because they are both floating point types.  The `numpy.dtype` class expo

[2017-10-03 15:37] williamfgc commented on #276
They explain that we can restrict the types and make sure memory is contiguous (required by adios2), something I never implemented but we should:  http://pybind11.readthedocs.io/en/stable/advanced/pycpp/numpy.html#arrays  . The way the type (hence size) is obtained is through returning the bool: `pybind11::isinstance<pybind11::array_t<T>>(array)`  yeah, I remember kind() wasn't helpful.

[2017-10-03 16:24] chuckatkins commented on #276
Yes, but that's from an array which uses the type information, whereas if you just have the type object without an array, the detailed information is not available.   It is in python though as it's a trivial patch to pybind11 to expose it in the `pybind11::dtype` mappings.  I'm in the process of making the pr to pybind11 that addresses this specifically.

[2017-10-10 14:33] chuckatkins opened #279 "ADIOS2_USE_ZeroMQ CMake option doesn't propagate to ADIOSConfig.h"

[2017-10-10 19:41] #279 closed

[2017-11-08 18:10] williamfgc opened #295 "Fortran bindings failed on Summitdev with XL compiler"
Need to implement with CMake FortranCInterface module

[2017-11-09 15:27] williamfgc commented on #295
Non-MPI still failing with IBM XL compiler on summit-dev

[2017-11-09 21:37] williamfgc opened #300 "CDash Warnings"
Remove cdash warnings for unused variables, type cast (including HDF5 char vs. int8) and virtual functions overloads.

[2017-11-12 16:59] #295 closed

[2017-11-15 11:54] williamfgc opened #306 "CMake doesn't detect missing Python.h"
Python-dev is required by PyBind11. Compilation fails even when numpy and mpi4py are installed. This is not detected by cmake.
[code]

[2017-11-16 21:51] williamfgc opened #309 "MPI const compilations error in Ubuntu 14.04"
Older OpenMPI 1.6.5 doesn't take first argument of MPI functions as const.  Example:
[code]
More recent versions, e.g. OpenMPI 1.10, have MPI_Gather(const void* ...

[2017-11-16 23:52] #309 closed

[2017-11-20 20:27] williamfgc opened #313 "Write Read Long ambiguity on Windows/Mac and Linux"
Tests fail since long is 4 bytes on Mac and Windows, while 8 on Linux (int8_t is mapped to long in the latest)

[2017-11-27 14:49] williamfgc commented on #313
int64_t type on MAC/WINDOWS: long long int (long int is 4 bytes), Linux: long int (is 8 bytes)

[2017-11-27 14:49] #313 closed

[2017-11-30 21:23] williamfgc opened #320 "Make single DeclareIO call mandatory"
InquireIO will return nullptr if DeclareIO not called. Prevents conflict with xml parsing and creating IOs.

[2017-12-01 21:39] #320 closed

[2017-12-01 21:40] williamfgc opened #324 "Add functionality to remove variables and attributes"

[2017-12-04 18:40] pnorbert opened #327 "BP format missing 28 bytes ID info at the end"
See adios 1.x src/core/adios_internals.c:4012 adios_write_index_v1()
The last 56 bytes are the file end info, not just the last 28 bytes minifooter. The first 28 bytes are
24 bytes string ID, righ-padded with spaces, "ADIOS-BP v<major>.<minor>.<micro>    "
4 bytes version in binary format: <major>.<minor>.<micro>.0

    /* Since ADIOS 1.4 Write new information before the last 24+4 bytes into the f

[2017-12-05 00:16] #324 closed

[2017-12-05 00:18] williamfgc opened #330 "PutDeferred for reference values, not working"

[2017-12-05 15:45] guj opened #332 "BPFileReader::BeginStep() needs to return EndOfSteam at a point"
Please check the available steps before return StepStatus::OK.

[2017-12-05 17:19] #330 closed

[2017-12-05 17:19] #300 closed

[2017-12-05 18:52] williamfgc opened #333 "Python test fail when libadios2.dylib is compiled with libzfp on MacOS"
ctest -VV -R PythonBPWrite
[code]
otool -l libadios2.dylib | grep lib
[code]

[2017-12-05 19:33] eisenhauer opened #334 "Enable SST built/testing in CI and nightly"
Need to add an EVPath installation on CI and nightly build machines so that SST is built and tested.

[2017-12-05 21:27] guj opened #335 "support multiple read request for one variable"
Need to support multiple selection in the Variable class
so it is possible to schedule multiple GetDefered() requests on that variable.

Right now client has to union different selections or do GetSync()
if they want to read data from 2 different boundingboxes for the same variable

[2017-12-07 14:57] pnorbert commented on #332
Checked. It works now.

[2017-12-07 14:57] #332 closed

[2017-12-07 15:03] pnorbert commented on #335
We need an example for this. It should work this way:
var.SetSelection()
engine.GetDeferred()
var.SetSelection()
engine.GetDeferred()
engine.PerformGets()

[2017-12-07 15:15] eisenhauer commented on #335
Let me add that we need the same thing with PutDeferred() on the write side...   (And Norbert, I would encourage a test and not just an example!   (You probably meant example in the looser sense, but just to clarify...))

[2017-12-07 16:33] pnorbert opened #341 "InquireIO() should throw an exception not an error"
- so it can return a reference not a pointer
- following STL conventions, it could be renamed to something like ADIOS.AtIO()

[2017-12-08 02:18] williamfgc commented on #327
@pnorbert should be done, please test

[2017-12-08 14:08] #341 closed

[2017-12-08 14:18] williamfgc commented on #232
Closing this, refer to issue #333

[2017-12-08 14:18] #232 closed

[2017-12-08 15:20] pnorbert commented on #327
ADIOS2-BP is not the same as ADIOS-BP. Adios 1.x cannot stream these files.

[2017-12-08 15:27] williamfgc commented on #327
@pnorbert OK let me fix that

[2017-12-12 16:06] pnorbert opened #348 "installed shared library looses (some) dependencies"
I built ADIOS2 with SST and ZFP. The shared library in the build directory shows the dependencies:

~/work/ADIOS2/build/bindings/fortran$ ldd ../../lib/libadios2.so
	linux-vdso.so.1 =>  (0x00007fff701f8000)
	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f063bbff000)
	libzmq.so.5 => /usr/lib/x86_64-linux-gnu/libzmq.so.5 (0x00007f063b999000)
	libsst.so => /home/adios/work/ADIOS2/b

[2017-12-12 18:04] williamfgc commented on #348
Related to rpath issue #333

[2017-12-12 18:05] #327 closed

[2017-12-13 14:29] williamfgc opened #352 "Allow 0 index start selection in Fortran bindings"

[2017-12-13 19:12] chuckatkins commented on #348
The adios2-config needs to be fixed.  However, the missing library references after install is by design.  RPATH information is stripped during install.

[2017-12-15 22:11] #352 closed

[2017-12-19 15:14] chuckatkins commented on #276
taking a different approach so this is not necessary

[2017-12-19 15:14] #276 closed

[2017-12-19 15:15] chuckatkins commented on #156
For whatever reason it was causing problems before, our current json library seems to work just fine now.

[2017-12-19 15:15] #156 closed

[2017-12-20 20:17] dingwentao opened #360 "Compilation error with ADIOS1=ON"
I encountered a compilation issue when I build ADIOS2 with ADIOS1=ON. Here are the error messages:
[ 31%] Building CXX object source/adios2/CMakeFiles/adios2.dir/__/__/bindings/C/adios2/adios2_c_adios.cpp.o
[ 32%] Building CXX object source/adios2/CMakeFiles/adios2.dir/__/__/bindings/C/adios2/adios2_c_glue.cpp.o
[ 32%] Building CXX object source/adios2/CMakeFiles/adios2.dir/__/__/bindings/C/adios2

[2017-12-20 20:23] scottwittenburg commented on #360
I think you need to supply the path to a library file as the value for `ADIOS1_LIBRARY`, rather than simply the path to the directory containing that library.

[2017-12-20 20:37] pnorbert commented on #360
Please do not use ADIOS1_LIBRARY.
Use ADIOS1_DIR=/home/dtao/adios-1.13.0 in your current checkout. This is
changing to be ADIOS1_ROOT in the release coming up by 12/31. You can
access the latest code in the 'release' branch.

On Wed, Dec 20, 2017 at 3:23 PM, Scott Wittenburg <notifications@github.com>
wrote:

[2017-12-20 20:50] dingwentao commented on #360
Hi Nobert,

Thanks for your reply!
However, it seems I am unable to build with AIDOS1=ON when I use ADIOS1_DIR option. Please see the following commands:
$ cmake -DCMAKE_INSTALL_PREFIX=/opt/adios2/2.0.0/gnu/openmpi -DADIOS1_DIR=/home/dtao/adios-1.13.0 -DADIOS1_INCLUDE_DIR=/home/dtao/adios-1.13.0/include ../source

...
-- Could NOT find ADIOS1 (missing: ADIOS1_LIBRARY) (Required is at least version

[2017-12-20 20:54] dingwentao commented on #360
Hi Scott,

Which file should I pass to ADIOS1_LIBRARY? I tried ADIOS1_LIBRARY=/home/dtao/adios-1.13.0/lib/libadios.a, but it also had an issue.
Linking CXX shared library ../../lib/libadios2.so
/usr/bin/ld: /home/dtao/adios-1.13.0/lib/libadios.a(libadios_a-adios.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when making a shared object; recompile with -fPIC
/home/dtao/adios-1.

[2017-12-20 20:59] scottwittenburg commented on #360
Based on the comment from @pnorbert, it seems you should no longer use the `ADIOS1_LIBRARY` argument.  I'm just guessing now, but I wonder if you should build shared libraries for ADIOS1 before attempting to link ADIOS2 against it.

[2017-12-20 21:00] pnorbert commented on #360
I am configuring it this way, setting the path in an environment variable
ADIOS1_DIR=/opt/adios/  \
cmake ...  -DADIOS2_USE_ADIOS1=ON  ...

I am not sure if passing the path in a -Dxxx option works. Also not the
other flag is ADIOS2_USE_ADIOS1 not simply ADIOS1.

On Wed, Dec 20, 2017 at 3:50 PM, Dingwen Tao <notifications@github.com>
wrote:

[2017-12-20 21:03] scottwittenburg commented on #360
Hi @pnorbert.  Just fyi, you can pass a path in a -D option.  For example:

[code]

[2017-12-20 21:07] pnorbert commented on #360
Indeed, and even this works now in the release branch (not using that
strange :Path thingy there)

cmake   -DADIOS2_USE_ADIOS1=ON   -DADIOS1_ROOT=/opt/adios/

On Wed, Dec 20, 2017 at 4:03 PM, Scott Wittenburg <notifications@github.com>
wrote:

[2017-12-20 21:30] dingwentao commented on #360
The problem is solved!!
Thanks a lot for your great help.
The ticket can be closed.

[2017-12-20 21:48] #360 closed

[2017-12-25 16:27] pnorbert opened #363 "BPFile reader misses last step in streaming mode"
If I run the heat transfer producing N output steps (initial condition + the number of requested steps), then the reader will only process N-1 steps.

_$ mpirun -n 2 ./bin/heatTransfer_write_adios2 /home/adios/work/ADIOS2/examples/heatTransfer/heat_bpfile.xml heat.bp 2 1 5 6 1 1_
Step 1:
Total runtime = 0.00218892s

_$ bpls -lav heat.bp -d -n 6 -f "%6.2g"_
File info:
  **of groups:     2**
  of va

[2017-12-26 14:47] williamfgc commented on #363
@pnorbert you can try moving the break condition until the end of the while loop in heatRead.cpp:Line 89.    BeginStep is detecting that reading the last step has been reached, but it doesn't reach the Get functions.

[code]

To:
[code]

[2017-12-26 15:01] pnorbert commented on #363
The example is fine. BeginStep should return OK when the last step is
reached because there is still a valid step to read. It should return
errors only when it is called beyond the last step. All the other engines
work with this logic.

On Tue, Dec 26, 2017 at 9:47 AM, williamfgc <notifications@github.com>
wrote:

[2017-12-26 15:48] eisenhauer commented on #363
Assuming that m_BP3Deserializer.m_MetadataSet.StepsCount is the actual count of steps in the file, then this conditional in BPFileReader.cpp is probably the problem:

    if (m_CurrentStep >= m_BP3Deserializer.m_MetadataSet.StepsCount - 1)
    {
        status = StepStatus::EndOfStream;
    }

Current step starts at 0, and is incremented prior to this, which I think makes status == EndOfStream one

[2017-12-26 16:30] williamfgc commented on #363
@pnorbert I just did a PR to accommodate this
@eisenhauer yes, that's the one!
Thanks!

[2017-12-26 16:46] pnorbert commented on #363
Yes, this PR fixes this bug. Thanks.

On Tue, Dec 26, 2017 at 11:30 AM, williamfgc <notifications@github.com>
wrote:

[2017-12-26 17:37] #363 closed

[2017-12-28 20:30] pnorbert opened #368 "Fortran API: inquire the shape of a variable"
This functionality is missing. Only name and type can be inquired.

[2017-12-28 20:31] pnorbert commented on #368
... and since we cannot define Global Values on the write side yet, there is no way to know the shape of the variable in the output when both writer and reader are written in Fortran.

[2017-12-29 13:41] pnorbert opened #369 "Heat Transfer + BP File reader bug in some cases"
Some values are incorrect in some cases. The example I found 4 writers 4 x 5 rows written, read by 3 processes (6,6 and 8 rows, resp.). Process 0's last row is incorrect. Everywhere else the data is correct.

[code]
[code]
[code]
The file is correct, the bug is in the reader. ADIOS1 reader on the file produces the correct data. Also:
[code]

[2017-12-29 13:49] chuckatkins commented on #369
@pnorbert Can you add a test that fails for this?

[2017-12-29 13:58] pnorbert commented on #369
I don't know how to add a test that needs to run two apps one after the
other, one is 4 the other is 3 processes. Plus it depends on the example
code at the moment.
I did not find a sequential case to fail.

On Fri, Dec 29, 2017 at 8:49 AM, Chuck Atkins <notifications@github.com>
wrote:

[2017-12-29 15:01] williamfgc commented on #369
Thanks @pnorbert for looking into this and finding the bug, that was my bad. @chuckatkins like @pnorbert said, can we setup a mini-workflow test (two separate mpi runs, one after the other) using gtest? That would be very helpful for regression.

[2017-12-29 15:33] #369 closed

[2018-01-05 15:07] pnorbert opened #378 "SetMemorySelection()"
This needs to be implemented before we can remove the temporary copy of array without the ghost cells in the heat transfer example.

[2018-01-05 21:41] pnorbert opened #379 "BPFile writer aborting on Titan"
$ aprun -n 1 ./heatTransfer_write_adios2 ./heat_bpfile.xml heat.bp 1 1 5 6 1 1
Step 1:
Total runtime = 0.00466585s

It segfaults when gathering global metadata. In this example, the subfile is readable, but at larger runs, they are also invalid BP files somehow.

(gdb) bt
#0  0x0000000000000000 in ?? ()
#1  0x00000000004f3f6c in __gthread_equal (__t1=0, __t2=0) at /opt/gcc/4.9.3/snos/include/g++/x

[2018-01-06 03:07] williamfgc commented on #379
@pnorbert let me know if this fixes the issue. As far as I remember, I needed to pass 2 additional parameters on Titan for using threads, number of NUMA threads and MPI processes per node to avoid thread overflow on a single node (might be the case here).

[2018-01-06 15:47] pnorbert commented on #379
The PR fixed this, but there is the same problem in the reader:

#1  0x00000000004f4bb4 in __gthread_equal (__t1=0, __t2=0)
    at /opt/gcc/4.9.3/snos/include/g++/x86_64-suse-linux/bits/gthr-default.h:680
...
#19 0x000000000054c581 in std::async<**adios2::format::BP3Deserializer::ParseVariablesIndex**(const adios2::BufferSTL&, adios2::IO&)::<lambda(adios2::IO&, const std::vector<char>&, std::size_

[2018-01-06 19:27] williamfgc commented on #379
Of course, I forgot the read side. Please check PR #381

[2018-01-11 03:24] williamfgc opened #388 "MPI_Comm_dup in IO Open hangs on Mac and Linux"
The ./bin/hello_bpReaderHeatMap* examples show this behavior. Removing MPI_Comm_dup, and from Engine destructor, fixes the issue.

[2018-01-11 16:14] pnorbert commented on #388
The bug is in the example. ADIOS object is created with MPI_COMM_WORLD.
Then only rank 0 calls Open, without a communicator, which therefore will inherit the communicator from the ADIOS object.
How about requiring a communicator in Open to avoid this easy mistake?

[2018-01-11 17:51] lwan86 opened #393 "ADIOS2 cannot be compiled on Titan with Lustre dependency"
#error "size_t could not be mapped to a MPI Type"

[2018-01-11 17:54] chuckatkins commented on #393
Can you give some details on how to reproduce this?  i.e. what's the module configuration, what's the configure arguments, compilers used, etc.?

[2018-01-11 18:02] williamfgc commented on #393
PrgEnv-gnu/5.3.0 , SIZE_MAX can't be found on climits or cstdlib

[2018-01-11 18:22] #388 closed

[2018-01-11 18:27] williamfgc commented on #393
module load cmake3/3.6
module load PrgEnv-gnu/5.3.0
mkdir build
cmake ../ADIOS2
make -j 16

[2018-01-11 18:28] lwan86 commented on #393
Currently Loaded Modulefiles:
  1) eswrap/1.3.3-1.020200.1280.0           8) modulator/1.2.0                       15) cray-libsci/16.11.1                   22) dvs/2.5_0.9.0-1.0502.2188.1.113.gem
  2) craype-network-gemini                  9) hsi/5.0.2.p1                          16) udreg/2.3.2-1.0502.10518.2.17.gem     23) alps/5.2.4-2.0502.9774.31.12.gem
  3) cray-mpich/7.5.2

[2018-01-11 20:32] pnorbert commented on #393
The problem seems to come from lustre api found and allowed. This is in
lwang86/adios2.git, branch lustre-transport
There is a cmake/FindLustre.cmake that finds (but does not test) lustre/lustreapi.h and liblustre.a
If that branch is forced not to have lustre (-DADIOS2_USE_Lustre=OFF), it passes the build of the core classes. If it is enabled, compiling core/Attribute.cpp will fail. Nothing there

[2018-01-12 14:49] pnorbert opened #396 "GathervVectors() does not work when data is null everywhere"
source/adios2/helper/adiosMPIFunctions.inl:
template <class T>
void GathervVectors(const std::vector<T> &in, std::vector<T> &out,
                    size_t &position, MPI_Comm mpiComm,
                    const int rankDestination)

rank 0 returns without entering MPI_Gatherv() if the total size to be collected is 0, leaving the rest of processes hanging in the call.

The bug only presents itself

[2018-01-12 14:54] williamfgc commented on #379
@pnorbert is this issue solved? If so, can we close it?

[2018-01-13 14:27] pnorbert opened #400 "Attribute merging needs to remove duplicates to reduce global metadata"
adios 1.x only outputs attributes from rank 0. adios 2.x merges attributes from all processors since it needs to support individual streams in independent IO. The attributes, per-definiton, must be the same value on each processor. Even if they differ, there is no way in the API to get different attribute values of different processes. There is no point having them N times in the global metadata.

[2018-01-13 15:55] pnorbert opened #401 "BPFile writer with heat transfer: missing data in BP file"
Data is 0 where it should not be. Bug present in VM as well as on Titan.

$ mpirun -n 1 ./bin/heatTransfer_write_adios2 ../examples/heatTransfer/heat_bpfile.xml heat1.bp 1 1 100 100 10 10

$ bpls -l heat1.bp
  double   T     11*{100, 100} = -6.40663 / 7.19752 / null  / null

$ bpls -l heat1.bp -d T -n 100 > T1.txt
$ less -S T1.txt
steps 3, 5, 7, 8, 9 have lots of zeros in the data

The statistics

[2018-01-13 15:56] pnorbert commented on #379
This issue is fixed.

[2018-01-13 15:56] #379 closed

[2018-01-13 20:21] williamfgc commented on #401
@pnorbert can we try switching Threads to 1 in the config files?  I wonder if the memcpy gets affected by this, it is definitely a bug I need to double-check. For some reason std::copy wasn't working with threads so I needed to demote to std::memcpy. Thanks!

[2018-01-13 20:33] pnorbert commented on #401
On Titan this was run with 1 thread.
Did it work for you on the VM with a single thread? I did not try that
combo.

On Jan 13, 2018 3:21 PM, "williamfgc" <notifications@github.com> wrote:

[2018-01-15 13:30] williamfgc commented on #401
I reproduce this on my Mac, I'll try to debug on my Linux box. Thanks.

[2018-01-15 14:48] pnorbert opened #404 "DataMan + Heat Transfer: only one step is processed"
I cannot get more than one step transferred with DataMan.
Present with the old and the updated heat transfer example, commits 11e76be9 and 7973ac6

commit 11e76be9:
[code]

-- there are 3 steps going out...

[code]
-- there is only 1 step received

[code]
With the latest update to the example, commit 7973ac6, run the reader with an extra output filename
`$ mpirun -np 1 ./bin/heatTransfer_read  ~/w

[2018-01-16 14:53] williamfgc opened #405 "Make Close free MPI Communicator in all Engines"
1) Remove MPI_Comm_free from destructor
2) Make all engines free MPI communicator at Close after each derived class DoClose function

[2018-01-16 19:17] #405 closed

[2018-01-19 16:41] williamfgc opened #409 "Reader for local variables fails"
Interprets shape[0] = 0, when shape should be empty for local variables

[2018-01-19 17:02] pnorbert commented on #409
A local value is actually defined as 1D array at writing with a special dimension size:
[code]
`constexpr size_t LocalValueDim = MaxSizeT - 2;`

At reading it should show as 1D array, and Shape[0] should be the number of writers.

[2018-01-22 16:02] pnorbert commented on #401
This works now.

[2018-01-22 16:02] #401 closed

[2018-01-22 16:07] pnorbert commented on #396
Bug was fixed with an extra MPI_Bcast(). However, that is not the scalable fix, so this needs to be re-examined. Also multi-threading with this operation was not tested yet.

[2018-01-22 20:31] pnorbert opened #411 "PG name should be the IO object's name"
void BP3Serializer::PutProcessGroupIndex()
line 55    const std::string name(std::to_string(m_RankMPI));

In ADIOS1 the name of the PG comes from the user given name, which is used in the XML to identify a group. This name is the same for all writers. Currently ADIOS2 just uses the rank for the name, which makes the PGs have different names although they belong together.

I found one place where t

[2018-01-22 23:47] williamfgc commented on #411
Good one!

[2018-01-24 14:28] pnorbert opened #413 "SST random failure in evpath"
Heat transfer example regularly fails with anything larger than 4 to 1 example on my VM.
[code]
and
[code]

Writer fails at some steps randomly. 5 or 6 writers exhibit this problem almost always, 4 writers sometimes.

[code]

[2018-01-24 14:35] eisenhauer commented on #413
Actually a problem in SST I think.  I believe that this is symptomatic of the bug fixed by the patch I submitted to your WIP on common staging testing, here:
https://github.com/ornladios/ADIOS2/pull/399/commits/163111e369a3ab22fbff74a9eec50aaa57ad902c
I may have done the wrong github thing somehow there.  Has it created a new PR that has just this fix along with the commits in your PR?   We could

[2018-01-24 14:40] williamfgc opened #414 "Support for ADIOS1.x bitmap and stat characteristics"
ADIOS2 reader must support characteristics written by ADIOS1.x using bitmap and stat fields.

[2018-01-24 15:51] williamfgc opened #415 "Add Engine CurrentStep() inspection function"
Required to make it public information at the application level for all engines in streaming mode.

[2018-01-24 21:18] #414 closed

[2018-01-24 21:18] #409 closed

[2018-01-25 19:56] JasonRuonanWang opened #420 "PluginEngine::DoClose compiler warning"
[ 14%] Building CXX object source/adios2/CMakeFiles/adios2.dir/engine/dataman/DataManReader.cpp.o
In file included from /Users/w4g/dropbox/adios2/source/adios2/core/IO.cpp:20:
/Users/w4g/dropbox/adios2/source/adios2/engine/plugin/PluginEngine.h:89:10: warning: 'DoClose' overrides a member function but is not marked 'override'
      [-Winconsistent-missing-override]
    void DoClose(const int trans

[2018-01-28 00:44] philip-davis opened #425 "HeatTransfer+BPfile+Summit segfault"
Fresh clone of the master branch on summitdev
Modules:
[code]

No special CMake flags. Attaching my CMake Cache file below:
[CMakeCache.txt](https://github.com/ornladios/ADIOS2/files/1670664/CMakeCache.txt)

This happens when the writer is initializing, and I can reproduce it with a single writer rank:

[code]

Debugger output:
[code]
Notice that the values of ht.m_s.ndx and ht.m_s.ndy are differe

[2018-01-28 13:22] berceanu opened #426 "Julia language bindings"
Are [Julia](https://julialang.org) language bindings anywhere in the roadmap?

[2018-01-28 16:35] philip-davis commented on #425
I wanted to clarify that I see this running using a batch script with jsrun, in addition to mpirun on the login nodes, example job script:

[code]

writer.log:
[code]

[2018-01-29 14:58] pnorbert commented on #413
Fixed by PR #424

[2018-01-29 14:58] #413 closed

[2018-01-31 18:14] eisenhauer opened #430 "adios2_config is broken because of readlink."
The readlink command does not uniformly support the "-f" option.   See:
https://stackoverflow.com/questions/1055671/how-can-i-get-the-behavior-of-gnus-readlink-f-on-a-mac
This causes adios2_config to fail to generate appropriate output on OSX.

[2018-01-31 19:41] philip-davis commented on #425
We discussed this on the staging call, and it was suggested to try the HDF5 engine, as well as make sure that we were running with a single thread. I see the issue with HDF5 engine, even with single-threaded operation.

I ran valgrind on the writer, with the following output (quite a bit):

[writer.log](https://github.com/ornladios/ADIOS2/files/1683036/writer.log)

Job script used:
[code]

[2018-01-31 20:12] eisenhauer commented on #425
OK, HeatTransfer is broken here.   Lets look at these two code areas:

///    FROM INIT AREA of m_T1
    m_T1 = new double *[m_s.ndx + 2];
    m_T1[0] = new double[(m_s.ndx + 2) * (m_s.ndy + 2)];
    for (unsigned int i = 1; i < m_s.ndx + 2; i++)
    {
        m_T1[i] = m_T1[i - 1] + m_s.ndy + 2;
    }

///   FROM later area of m_T1
        for (unsigned int i = 0; i < m_s.ndx + 2; i++)   {

[2018-01-31 20:15] williamfgc commented on #425
@philip-davis thanks for reporting this. As you mentioned, this looks like an uninitialize memory issue  which can be reproduced (only on Summitdev) by turning off all the calls to IO. This is not an adios2 (the library) issue per-se.  Thanks for posting valgrind's output. I get the same thing.

[2018-01-31 20:49] pnorbert commented on #425
Note, that m_t1[0] is a pointer to an area only of size (ndx+2)*(ndy+2). So
nothing points outside of allocated areas. This has been done by others to
create a contiguous 2D array with a variable where cells can be addressed
with T[i][j] in C/C++. William just copied this piece of code and ran on
summitdev successfully. The segfault comes from somewhere else.

On Wed, Jan 31, 2018 at 3:15 PM, will

[2018-01-31 20:58] eisenhauer commented on #425
Hmm.  I screwed that up a bit, thought it was always accessing out of bounds when it looks like it shouldn’t.  But it isn’t uninit memory of course, those valgrind errors are spurious and caused by the RDMA stuff in MPI.  These are the relevant valgrind output bits.

==115239==
==115239== Invalid read of size 8
==115239==    at 0x1002ECE8: HeatTransfer::init(bool) (HeatTransfer.cpp:66)
==115239==

[2018-01-31 20:59] philip-davis commented on #425
Additional GDB output, when I place ht.init before the IO constructor in write/main.cpp:

[code]

[2018-01-31 21:05] eisenhauer commented on #425
Well, ms_s.ndx being reset to a huge value would explain the valgrind invalid output.  But I don’t have a good theory about why _dl_runtime_resolve() would be trashing that value…  Philip, just in the interest of making progress, can you maybe switch to the PGI compiler on summitdev?

g

[2018-01-31 21:16] eisenhauer commented on #425
Yeah, something is stomping that ndx value, probably leading the later array accesses to go out of bounds when they iterate beyond the original value.  But why is ndx getting trashed?

[2018-01-31 21:27] eisenhauer commented on #425
BTW, I have had success in the past killing much of the spurious "uninitialized memory” output in valgrind by forcing MPI to use a TCP BTL rather than a fast RDMA transport.  RDMA seems to confuse valgrind.  Whether or not this is possible on summitdev I don’t know, but on other platforms, the OpenMPI argument "-mca btl tcp, self” is magic for valgrind.  It tells openmpi to stick to the byte trans

[2018-01-31 21:50] williamfgc commented on #425
OK, I think we can narrow this down a bit:   while gcc 7 module is loaded, MPI still points to an older gcc (4.8.5) that is used for compilation. At runtime, we are trying to use gcc 7.

`$ module load gcc/7.1.0

Lmod is automatically replacing "xl/20170914-beta" with "gcc/7.1.0".

Due to MODULEPATH changes, the following have been reloaded:
  1) spectrum-mpi/10.1.0.4-20170915

-bash-4.2$ pwd
/ccs

[2018-02-01 16:15] philip-davis commented on #425
I can confirm, there is no segfault with the XL environment. Doesn't this use the XL compiler (xlC) rather than gcc? I am not sure if I'm reading CMake output correctly, but I see:
`CXX compiler
CMAKE_CXX_COMPILER:FILEPATH=/sw/summitdev/xl/20170914-beta/xlC/13.1.6/bin/xlC` in CMakeCache.txt.

[2018-02-01 16:58] philip-davis commented on #425
I stripped out the IO part of the heatTransfer example, and I'm building the writer binary with the following Makefile:
[code]
and modules:
[code]
and I am not getting the segfault. So either the CMake build is using a different compiler binary or some build option/linkage is triggering the issue. I am looking through the output of the CMake build to see what it does differently. It looks like it'

[2018-02-01 19:23] williamfgc commented on #425
The IBM XL compiler still depends on GNU's infrastructure.

[2018-02-01 21:52] philip-davis commented on #425
This does produce a binary that segfaults though:
[code]

[2018-02-01 22:16] philip-davis commented on #425
The `mpicc` wrapper on summitdev points to `/sw/summitdev/gcc/7.1.0/bin/gcc`, and `which c++` points to `/sw/summitdev/gcc/7.1.0/bin/c++` as well once the gcc/7.1.0 module is loaded. As William pointed out, the heatTransfer binaries are being built against 4.8.5. This is because CMake is using /usr/bin/c++ as the absolute path of the compiler. If I change `CC` above to point to the 7.1.0 gcc, ever

[2018-02-01 22:28] philip-davis commented on #425
`cmake .. -DCMAKE_CXX_COMPILER=c++` fixes it. How do we get cmake to pick the right compiler by default?

[2018-02-02 21:13] williamfgc commented on #425
@philip-davis Thanks for following up. Should we create a new ticket as you narrowed down the issue to cmake as there are workarounds for this. That way @chuckatkins can take a look.  I'm closing this one. Thanks!

[2018-02-02 21:13] #425 closed

[2018-02-03 22:22] williamfgc commented on #426
@berceanu I am closing this. Feel free to reopen the issue if there is potential follow up.

[2018-02-06 01:17] williamfgc opened #437 "Profiling info not printing for transports"

[2018-02-08 02:22] #437 closed

[2018-02-13 14:33] #411 closed

[2018-02-13 14:34] #368 closed

[2018-02-13 14:36] williamfgc commented on #404
@JasonRuonanWang did this get fixed?  If so, can you reference with Pull Request number did so? I am trying to close solved tickets. Thanks!

[2018-02-13 14:40] #415 closed

[2018-02-13 16:37] williamfgc opened #440 "Add updated User Guide documentation"

[2018-02-13 17:44] JasonRuonanWang commented on #404
PR #433 fixed this problem.

[2018-02-13 17:44] #404 closed

[2018-02-13 21:33] JasonRuonanWang opened #444 "adios-config does not work on Mac"
$/opt/adios2/bin/adios2-config --libs
readlink: illegal option -- f
usage: readlink [-n] [file ...]
-L/lib -ladios2 -L/usr/local/Cellar/open-mpi/3.0.0_2/lib -lmpi

Got this error on macOS High Sierra 10.13 using Clang 9.0 and GCC 7.3

[2018-02-14 15:45] williamfgc commented on #440
Latest master docs in readthedocs: adios2-adaptable-io-system-version-2.readthedocs.io/en/latest/index.html

[2018-02-14 19:12] #396 closed

[2018-02-15 18:02] williamfgc opened #449 "CircleCI timeout staging test"
CircleCI timeouts on the staging-common/TestStagingMPMD test in the gcc-openmpi build. This test has 4 separate cases. Even the short ones (SingleStep and MultiStep) timeout at 300 seconds. I can run those under 10s on my VM with 2 CPU cores, forcing to run with 16 MPI tasks to have the full test (12 params). The other two (SlowWriter, SlowReader) run longer, right now under 40 seconds on my VM.

[2018-02-15 18:03] williamfgc commented on #449
Just translating the failed PR to an issue, so we won't forget

[2018-02-21 19:37] williamfgc commented on #393
the lustre headers on Titan are pretty outdated and they require the -fpermissive flag from GNU. Hacked a version in my lustre-transport branch that won't make it to master. Closing this.

[2018-02-21 19:37] #393 closed

[2018-02-27 14:15] williamfgc opened #458 "Fortran API not compiling on Summitdev"
`/sw/summitdev/xl/20180125/xlf/15.1.6/bin/.orig/f95: 1501-210 (W) command option t contains an incorrect subargument
** adios2_adios   === End of Compilation 1 ===
1501-510  Compilation successful for file adios2_adios_mod.f90.
[ 39%] Building Fortran object bindings/fortran/CMakeFiles/adios2_f.dir/modules/adios2_engine_get_sync_mod.f90.o
/sw/summitdev/xl/20180125/xlf/15.1.6/bin/.orig/f95: 1501-21

[2018-02-27 15:37] #458 closed

[2018-02-27 18:24] williamfgc opened #460 "Add remove variable functionality in Fortran API"

[2018-02-28 20:08] #460 closed

[2018-03-02 00:58] williamfgc opened #465 "Exception when Profile IO parameter is set to Off"

[2018-03-02 11:35] #465 closed

[2018-03-02 15:06] chuckatkins commented on #306
This looks like a bug in the pybind11 FindPythonLibsNew code.  It explicitly searches for the python libraries and headers but assumes they are always found and doesn't actually check if they are or not.  I'll fix the issue upstream and backport the patch

[2018-03-02 17:47] chuckatkins commented on #306
Rather than deal w/ it upstream, they seem pretty tied to their implementation so if we just fix it on the ADIOS side then the correct libs and dirs will propagate accordingly to bybind11.

[2018-03-02 23:39] #306 closed

[2018-03-02 23:39] chuckatkins commented on #449
Fixed

[2018-03-02 23:39] #449 closed

[2018-03-05 23:11] pnorbert opened #471 "Add ADIOS2.FlushAll()"
We need a function where the user can ask ADIOS to flush/sync all open file streams when e.g. they close the file for the checkpoint. This ensures that at the checkpoint, all other data streams are synced to the disk.

[2018-03-15 13:35] pnorbert opened #478 "Corrupted data in first output step in some cases of multi-block writing"
The standalone test program PerfManyVars exhibits this problem as well as its test counterpart TestManyVars (if those parameters are uncommented in the source that causes this problem).

The test writes multiple variables multiple blocks per process and multiple timesteps, the it reads them back and check the data value by value. At some limit of variables x blocks, there will be corrupted blocks

[2018-03-15 14:00] williamfgc commented on #478
Thanks @pnorbert this is a good catch. Let me see what's going on.

[2018-03-15 19:33] williamfgc opened #481 "Make install and build not working correctly"

[2018-03-15 20:23] #481 closed

[2018-03-19 13:18] williamfgc commented on #478
The interesting thing is that the metadata min/max 0/8 is correct for v6 and v7

[2018-03-19 13:56] williamfgc commented on #478
@pnorbert I noticed that ldim1 and ldim2 are set to a fix value of 5.  Switching ldim1 to 1 would solve the problem as it scales with MPI Size. What happens is that we are trying to fit a 5x5 (25) data pointer (count) into a 1x5 (5) intended size (based on offset). This is from setting the offset in Line 282, 283 to start[2]:
[code]

On a side note, I don't know if adios can identify memory overla

[2018-03-19 14:06] pnorbert commented on #478
Ah, so the test is not correct? Global size should be MPI_size * 5 x 5, or
vice versa, I don't remember. And offsets calculated so that there are no
overlaps.

BTW, overlapping blocks as well as unwritten parts of a global array are
allowed in adios. For overlapping blocks, it is 'undefined' which values
will be delivered at reading. For unwritten pieces we return zero, although
this should be som

[2018-03-19 14:50] pnorbert commented on #478
The test works as intended. 5x5 blocks put into a  numproc*5 by nblocks*5
global array. That is a 2D array with 2D decomposition.

[code]

On Mon, Mar 19, 2018 at 10:06 AM, Norbert Podhorszki <
norbert.podhorszki@gmail.com> wrote:

[2018-03-19 15:51] williamfgc commented on #478
@pnorbert you're right. My bad, I am still getting confused by the memory contiguous aspect between offsets....shouldn't be only 5 memory contiguous elements between {0,0} and {0,5}?

[2018-03-19 15:56] pnorbert commented on #478
Yes, there are only 5 elements between those offsets. Note that the 2D
decomposition logically splits the 5x5 block into 5 separate rows. The very
first blocks spans from "0,0" to "4,4", the second block from "0,5" to
"4,9".

On Mon, Mar 19, 2018 at 11:51 AM, williamfgc <notifications@github.com>
wrote:

[2018-03-19 18:17] williamfgc commented on #478
@pnorbert I think you just hit the jackpot. This is a bug in which for those magic numbers (8 9) the buffer needed to be reallocated at block 8 var 6 when writing metadata in data (something really rare). I was checking capacity for reallocation which was big enough, while the size was too small. This is solved with one line of code to enforce a reserve (expensive) before a resize (cheap) to set t

[2018-03-21 19:30] JasonRuonanWang commented on #420
Fixed in #482

[2018-03-21 19:30] #420 closed

[2018-03-24 19:23] philip-davis opened #500 "Build failure on Ubuntu VM and Summitdev"
I am seeing the following build error on both Summitdev and a Ubuntu VM.

[code]
I'm using cmake 3.9.2 on Summit and 3.10.1 on the VM. My VM does have the ibverbs library. To me, it looks like the CMAKE_SOURCE_DIR has changed/should change for EVPath when nested in ADIOS, but I don't know enough about CMake be confident of that.

Not sure what other output would be useful. I can provide cmake logs

[2018-03-24 19:23] philip-davis commented on #500
@chuckatkins

[2018-03-24 19:25] chuckatkins commented on #500
Thanks for the bug report.  I'll fix it asap

[2018-03-26 14:54] #500 closed

[2018-03-28 13:48] williamfgc opened #508 "SST/EVPath not compiling on Mac with clang compiler"
[ 23%] Building C object thirdparty/EVPath/EVPath/CMakeFiles/EVPath.dir/evp.c.o
In file included from /Users/wfg/workspace/ADIOS2/thirdparty/EVPath/EVPath/evp.c:7:
/usr/local/include/memory.h:4:10: fatal error: 'cstdlib' file not found
#include <cstdlib>
         ^

CMake configuration:
[code]

[2018-03-28 14:01] eisenhauer commented on #508
This is probably a bad installed /usr/local/include/memory.h
http://gnu-autoconf.7623.n7.nabble.com/Error-message-for-memory-h-td20177.html

[2018-03-28 14:04] eisenhauer commented on #508
The package is an older version of zfp apparently.  Jason ran into this a while ago.  It's been fixed in newer zfp releases.

[2018-03-28 16:06] eisenhauer commented on #508
@chuckatkins Unrelated to the memory.h issue, notice the CMake Warning here.  Something related to this was why the MACOSX_RPATH stuff was in the prior versions of GTkorvo cmake.  Not sure what the proper fix should be.  I'm also seeing this in my OSX dev environment with CMake 3.10.2

[2018-03-28 17:19] pnorbert opened #509 "install F90 mod files"
into include/ or include/fortran or mod/
Can't build fortran apps from the installation only, need to point to the source directory at the moment.

[2018-03-28 18:01] williamfgc commented on #509
@pnorbert they should be under include/fortran after a `make install`
See below:
[code]

[2018-03-28 19:46] pnorbert commented on #509
indeed they are, sorry for this irrelevant ticket

[2018-03-28 19:46] #509 closed

[2018-03-29 00:17] eisenhauer commented on #430
Feb 15 commit fixed this issue.

[2018-03-29 00:17] #430 closed

[2018-03-29 00:18] eisenhauer commented on #334
Recent updates have accomplished the SST build/test.

[2018-03-29 00:18] #334 closed

[2018-04-03 12:43] williamfgc opened #525 "Current master not compiling on Mac with clang, and Ubuntu gcc 5"
heat transfer example seems to be broken:

[code]

[2018-04-03 12:56] chuckatkins commented on #525
Fixed by #524

[2018-04-03 12:56] #525 closed

[2018-04-03 13:47] #478 closed

[2018-04-03 13:48] #471 closed

[2018-04-03 13:52] chuckatkins commented on #478
Is this related to the ` BPWriteReadAsStreamTestADIOS2.ADIOS2BPWriteRead1D8` test failure?

https://open.cdash.org/testDetails.php?test=641932952&build=5324003

[2018-04-05 15:48] kshitij-v-mehta opened #533 "SST build issue on Titan"
Building on Titan fails with the following error. Built as
[code]

[code]

Missing `-ldl` somewhere?

[2018-04-05 16:06] eisenhauer commented on #533
Hi Kshitij.  For Titan, you probably have to tell us what compiler, etc.  Just giving us a list of what modules are loaded when you get this would be good...

[2018-04-05 16:11] kshitij-v-mehta commented on #533
I am using gcc/4.9.3. The loaded modules are
[code]

[2018-04-05 16:12] kshitij-v-mehta commented on #533
Also, I am building current adios2 head.

[2018-04-05 19:12] chuckatkins commented on #533
I was able to easily reproduce the issue.  See upstream fix in GTkorvo/ffs#6.  Once merged I'll pull it back down into ADIOS2

[2018-04-05 20:07] chuckatkins commented on #533
Cant close until upstream propagates

[2018-04-05 20:41] #533 closed

[2018-04-05 21:11] kshitij-v-mehta opened #536 "Build error"
Building on Titan from the latest head (that includes #535 ) with gcc 4.9.3.
`make -j8` gives
[code]

Configured as
`cmake -DCMAKE_INSTALL_PREFIX=$HOME/opt/adios2/installation/ -DADIOS2_USE_DataMan=OFF -DADIOS2_USE_HDF5=OFF -DADIOS2_USE_Fortran=ON -DCMAKE_BUILD_TYPE=Release ../`

Loaded modules:
[code]

[2018-04-05 21:15] chuckatkins commented on #536
There's a mismatch in how ADIOS1 was built and how ADIOS2 is being built.  Try explicitly calling `export CC=cc CXX=CC FC=ftn` before configuring from a clean build directory.  That will ensure your building with the CrayPE wrappers instead of vanilla gcc.

[2018-04-05 22:10] pnorbert commented on #536
It also seems that that adios1 install was not built with the -fPIC flag.
Make sure you add this flag to CFLAGS before configuring adios1.

On Thu, Apr 5, 2018 at 5:15 PM, Chuck Atkins <notifications@github.com>
wrote:

[2018-04-06 14:14] kshitij-v-mehta commented on #536
Thanks. The build succeeds now. I noticed that I had an adios1 install in my path. It was built without -fPIC. I removed it and added `export CC=cc CXX=CC FC=ftn`, and the build is now successful.

[2018-04-06 14:14] #536 closed

[2018-04-06 14:15] kshitij-v-mehta commented on #536
It looks like mainly the error was due to the buggy adios1 install that was getting picked up.

[2018-04-09 17:23] JasonRuonanWang opened #541 "Linking error on Mac using Clang"
[ 59%] Built target hello_bpPutDeferred
Scanning dependencies of target hello_bpWriter_f
[ 59%] Building Fortran object examples/hello/bpWriter/CMakeFiles/hello_bpWriter_f.dir/helloBPWriter.f90.o
[ 59%] Linking Fortran executable ../../../bin/hello_bpWriter_f
Undefined symbols for architecture x86_64:
  "_adios2_flush", referenced from:
      import-atom in libadios2_f.dylib
  "_adios2_flush_all",

[2018-04-11 15:59] suchyta1 opened #546 "Python/Fortran bindings -- bug likely in write with different dimensionality / time stepping"
I'm having some issues with writing and reading N-dimensional arrays in Python, possibly over multiple time steps. Here's a test script I made to investigate. Basically, I write a really simple piece of data, and then check if I get the same hash back on the read end. Sometimes I do, sometimes I don't. I attached an example, where I write up to 6-D arrays, over 10 time steps. Doing bpls looks more

[2018-04-11 16:35] williamfgc commented on #546
Thanks @suchyta, are the numbers reported by adios1 bpls correct? -d will dump the data.

[2018-04-11 17:16] suchyta1 commented on #546
@williamfgc Good thing to check. No -- there are lots of zeros in the output, and there shouldn't be any. I attached the output. Looking through it, it starts with the expected output, then there'll be a really small value, after which the rest of that rank is zeros.
[bpls.txt](https://github.com/ornladios/ADIOS2/files/1899784/bpls.txt)

[2018-04-11 17:19] williamfgc commented on #546
OK, @suchyta1 sounds like a write problem then. The reader is just returning the wrong data as-is. I will take a look, try to reproduce and add this to the testing framework. Thanks again.

[2018-04-11 17:26] suchyta1 commented on #546
@williamfgc Thanks, William! I'm going to try to produce some kind of similar test for Fortran too. I think, something similar _might_ be going on, but I haven't been systematic enough in testing to isolate anything whether it's actually an issue in the app.

[2018-04-11 17:31] williamfgc commented on #546
@suchyta1 Thanks, it might be related to a buffering issue #478 . Yes please, that will help enrich the bindings tests, which is lacking.

[2018-04-11 22:26] suchyta1 commented on #546
@williamfgc Okay, here's some Fortran testing too. I wrote a script to test different dimensionality and time stepping in Fortran. This can't be done quite as simply as for Python, but at any rate the source is [here](https://github.com/suchyta1/pyDIOS/tree/master/bindings-tests). (Along with the previous Python script too).

For example doing a similar thing as before is below. This is writing a

[2018-04-12 02:43] williamfgc commented on #546
@suchyta1 can you try only advancing at write at the last value of the iteration. Advance, and endl in Python, affect all variables not just the current one.

[2018-04-12 10:53] suchyta1 commented on #546
I might not be understanding what you mean @williamfgc but I think that's what I'm doing. I'm only writing one array in this case (the only data in file) -- and that's the only write statement in each loop iteration.

[2018-04-12 11:53] williamfgc commented on #546
Everytime write is called it is advancing the step. It should be only arr"max" doing that.

[2018-04-12 17:52] suchyta1 commented on #546
Thanks @williamfgc . That was it in the python script. All the python tests now pass.

[2018-04-12 19:28] suchyta1 commented on #546
On the Fortran side, the last issue I see looks a lot like issue #478. I write a 3x3 array from 3 processes, either from Fortran or Python using the high level API. (And do two runs each.) I attached the two output logs, and the Fortran source file. In summary I see a few bad values from Fortan, but not Python. I also attached the fortran source, and pushed updates into the [repo].(https://github.

[2018-04-12 19:47] williamfgc commented on #546
@suchyta1 great! thanks for double checking. I wonder if it's 'cause we are passing a linearized 1D array in Fortran rather than an actual 3D array. Still they are both memory contiguous so it shouldn't matter. I am trying to debug now.

[2018-04-12 19:59] williamfgc commented on #546
@suchyta1 could you make the python test portable to python3...I get an error related to the hash table when running with python3. I want to make it part of the adios2 testing suite, which requires to make it agnostic of python version. Let me know!

[2018-04-12 20:03] suchyta1 commented on #546
@williamfgc Sure. I wasn't aware hash would do that, but that's good to generally know anyway. I could also just use numpy.all() too.

[2018-04-12 21:03] suchyta1 commented on #546
Updated hashing should work in either python 2 or 3.

[2018-04-12 23:03] williamfgc commented on #546
@suchyta1 great, thanks! In the Fortran test, what do you get if you zero initialize the dataarr. Right now it seems it depends on uninitialized values.

[2018-04-13 15:47] JasonRuonanWang commented on #541
Sorry. This was a mistake because I had some older version of ADIOS 2 library left in the path.

[2018-04-13 15:47] #541 closed

[2018-04-14 17:34] kshitij-v-mehta opened #548 "Check object initialization during adios2_open"
I forgot to call `adios2_declare_io` before calling `adios2_open`, and the code segfaulted with an invalid memory reference.
[code]

Maybe check to ensure jo object is initialized when adios2_open is called?

[2018-04-14 20:06] kshitij-v-mehta opened #549 "Runtime error with adios2_define_variable for reading"
I have a test case where the root process in the application tries to read a scalar variable from a file that was written using adios2. Test is performed on a local linux vm using mpich-3.2 built with gcc 6.3.0.

The call to `adios2_define_variable` results in
`ADIOS2 define_variable var_2: ERROR: variable var_2 exists in IO object read_single, in call to DefineVariable`.

Here is the test code:
[

[2018-04-14 20:39] pnorbert commented on #549
You need to inquire not define variables at reading.

On Sat, Apr 14, 2018 at 4:06 PM Kshitij Mehta <notifications@github.com>
wrote:

[2018-04-15 00:26] williamfgc commented on #549
@kshitij-v-mehta please follow https://github.com/ornladios/ADIOS2/blob/master/examples/hello/bpReader/helloBPReaderHeatMap3D.f90 for a working example.

[2018-04-15 15:58] kshitij-v-mehta opened #550 "Re-opening the same engine"
Can I re-open the same engine to write data? For example, is the following allowed?

[code]

For the second iteration of the 'do' loop above, 'adios2_open' results in `ADIOS2 open with new MPI_Comm: ERROR: IO Engine with name restart already created, in call to Open.`

Does this mean a file can only be opened once?
I am trying to write a checkpoint-restart file. At every iteration, the file must b

[2018-04-15 16:14] williamfgc commented on #550
this is my bad, close should release the resource, but I kept it for my own profiling. I will fix this. For now just create 4 IOs as a workaround. You can put those in a container/array and operate by index. Just like we do when reading.

[2018-04-15 16:15] williamfgc commented on #549
Closing this.

[2018-04-15 16:15] #549 closed

[2018-04-15 16:26] kshitij-v-mehta commented on #550
On a similar note, it looks like an IO object must be declared only once as there is no way to destroy/close the object. You cannot have this:

[code]

[2018-04-15 16:29] williamfgc commented on #548
Let me check.

[2018-04-15 16:36] williamfgc commented on #550
yeah, IOs should be unique through the scope of the adios object/handler. It becomes a debug nightmare if we are that flexible. A new adios object/handler can be created for that purpose. In your case, you can move declare_io outside restart and pass them as arguments of as part of a module.

[2018-04-15 16:43] kshitij-v-mehta commented on #550
Also, variables are associated with IO objects, and it becomes tricky if variables are allowed to be redefined at every timestep, as users could potentially redefine the same variable totally differently.

The only caveat here is that subroutines have to be modified to accept a timestep argument, so that variables are defined when timestep==1. I think this was a constraint with adios1 as well, iir

[2018-04-15 17:42] williamfgc commented on #550
Adios doesn't have a timestep per-se. These are logical IO abstract steps that each application will provide a meaning.... timestep, sections, iteration (eg steady state problems) http://adios2-adaptable-io-system-version-2.readthedocs.io/en/latest/api/api.html#engines

[2018-04-15 17:45] kshitij-v-mehta commented on #550
p.s. creating a new IO object at every iteration works fine for checkpoint-restart files where data is overwritten at every iteration. However, for those files where timesteps need to be appended, I observed that creating a new IO object in every iteration results in losing timestep information. In this case, keeping a single IO object and keeping the engine open for the duration of the program is

[2018-04-15 17:51] williamfgc commented on #550
Append mode is not supported, yet. Now Open/Close in adios2 is conforming to POSIX IO (so C, Fortran, Python, C++ fstream) open/close than in adios1, doing a single open and a single close means the resouce is alive through the run. BeginStep and EndStep will replace the open/close in adios1.

[2018-04-15 17:54] kshitij-v-mehta commented on #550
Ok, to make sure I understand .. doing an 'endstep' does not mean that timestep is available for some process to read (e.g. an analysis process). Only doing a 'close' ensures that data is available for reading. Is that correct?

[2018-04-15 17:55] williamfgc commented on #550
You can always define an IO variable later in the run, as long as it is not conflicting. Steps are an Engine concept, not a variable per-se. Timestep is an application concept when solving transient problems, it is not related to IO per-se.

[2018-04-15 17:58] williamfgc commented on #550
Steps are logical...this is how you IO is performed. Simulation "timestep" belong to the simulation. For example, most checkpoint/restarts only have one IO step, but they might belong to timestep "10". Treat adios steps as abstractions, they are NOT timesteps.

[2018-04-15 18:00] williamfgc commented on #550
EndStep will be the equivalent of "\n" + flush in a text file. The data is available by default, but like in any IO library, before close the system IO resource is still in open state.

[2018-04-15 18:16] kshitij-v-mehta commented on #550
I understand that adios timesteps are abstractions :-)
I am trying to understand when data is available for an external process to read. If you have an analysis application that is waiting for data from a simulation, is data guaranteed to be available when 'endstep' is called, or is it available when 'close' is called? How should a simulation 'publish' data for someone else to read?

[2018-04-15 18:30] williamfgc commented on #550
It is just like in a text file.... adios2 step=line (logical, unrelated to timestep), adios2 EndStep = \n + flush,  adios2 open = system open, adios2 close = system close. Publication in text files is at flush or close, so in adios2 is at EndStep or at Close. But flush is not a final call, while close is an absolute final.

[2018-04-15 19:00] eisenhauer commented on #550
Hey Kshitij...  I think your question really only makes sense for streaming, for example for SST, endstep is the equivalent to publish.  For files I don't think ADIOS has ever really supported reading a file while it is being written.  So you have to wait for Close.

[2018-04-15 20:03] williamfgc commented on #550
ADIOS2 underlying file IO transport library is unbuffered POSIX IO on Linux/Mac, and C++ fstream in Windows with explicit flushes at write. We do non-blocking (without O_EXCL) file open https://github.com/ornladios/ADIOS2/blob/master/source/adios2/toolkit/transport/file/FilePOSIX.cpp, so at EndStep or at Close, if the data is in disk then data written up to that point is available. adios1 is the s

[2018-04-15 20:08] williamfgc commented on #550
@kshitij-v-mehta you can always wait for append mode to be added, but the end result will be a sync write and read which might kill performance. In any case, at EndStep the metadata file is available, while the data files keep on growing. We still enable control for multiple step buffering since flushing data at every EndStep might kill performance.

[2018-04-15 20:16] kshitij-v-mehta opened #551 "JoinedArray functionality for Fortran"
Looks like 'JoinedArray' for defining a variable is not implemented yet.

[2018-04-15 20:34] williamfgc commented on #551
They are part of local arrays, which is still work in progress:
https://github.com/ornladios/ADIOS2/blob/master/examples/basics/joinedArray/joinedArray_write.cpp

[2018-04-16 18:40] JasonRuonanWang opened #552 "SST Compiler warnings on Mac / Clang"
[ 43%] Building CXX object source/adios2/CMakeFiles/adios2.dir/operator/compress/CompressBZip2.cpp.o
/Users/w4g/dropbox/adios2_sst/source/adios2/engine/sst/SstReader.cpp:48:29: warning: ISO C++ specifies that qualified reference to 'SstReader' is a
      constructor name rather than a type in this context, despite preceding 'typename' keyword [-Winjected-class-name]
        typename SstReader::Sst

[2018-04-16 19:16] eisenhauer commented on #552
Yeah, a clang update a while ago started not liking this.  I have a fix, but it's part of the dyn memory WIP, so this should be addressed when that gets finalized.

[2018-04-16 19:54] williamfgc commented on #548
@kshitij-v-mehta can you check if the latest master works for this issue? Let me know.

[2018-04-16 20:14] williamfgc opened #554 "Heat transfer example fails due to position > buffer size"
Fortran example (in adiosvm):
 ./heat_transfer_adios2 heat2  1 1    40 50   1 1
Process number        : 1 x 1
Array size per process at first step: 40 x 50
Step    1:
Writing:  filename               size(GB)    io_time(sec)      GB/s
heat_transfer_adios2: malloc.c:2394: sysmalloc: Assertion `(old_top == initial_top (av) && old_size == 0) || ((unsigned long) (old_size) >= MINSIZE && prev_inuse (ol

[2018-04-18 20:02] #554 closed

[2018-04-19 02:37] eisenhauer commented on #508
Compilation failure is likely due a poorly-designed locally-installed package.  No ADIOS2 issue.

[2018-04-19 02:37] #508 closed

[2018-04-19 14:14] suchyta1 opened #560 "Python feature requests"
William, Norbert, and I have been starting to consider Python ease of use, and are opening the conversation about Python enhancements. A couple things I see that could make things simpler:

1. Introspection: The ability to return a "file object" that has a list of the variables, their sizes, etc.
2. Default selections: When reading, if the user doesn't give bounds it just tries to return the whole

[2018-04-19 14:25] williamfgc commented on #560
adding @kshitij-v-mehta @jychoi-hpc @JasonRuonanWang @pnorbert

[2018-04-19 14:27] williamfgc commented on #560
3. Add configFile.xml option to Python high-level API

[2018-04-19 17:53] kshitij-v-mehta opened #561 "Build failure with Intel on Titan"
Trying to build from master (latest commit: a807b76293140cd758c45fae9719a4f8e8846e18) with Intel on Titan.
Loaded modules:
[code]

Configured as
[code]

`make -j4` results in
[code]

[2018-04-19 18:07] williamfgc commented on #561
@kshitij-v-mehta can you post the CMake output?  Also, try a more recent gcc module.

[2018-04-19 18:08] kshitij-v-mehta commented on #561
[code]

[2018-04-19 18:56] kshitij-v-mehta commented on #561
Same issue with gcc/6.3.0

[2018-04-19 19:08] kshitij-v-mehta opened #562 "Build error with PGI on Titan"
Modules loaded:
[code]

Running cmake results in an error:
[code]

[2018-04-19 19:09] kshitij-v-mehta commented on #562
Using master branch a807b76293140cd758c45fae9719a4f8e8846e18

[2018-04-19 19:40] chuckatkins commented on #561
It seems it's only some of the Fortran examples and tests that are failing.  I believe I know the issue.  I'll get a patch up shortly.

[2018-04-19 19:50] williamfgc commented on #562
PGI doesn't have full support for C++11, not even on summit-dev

[2018-04-19 19:52] williamfgc commented on #561
@kshitij-v-mehta can you just try `cmake -DADIOS2_USE_SST=OFF -DADIOS2_BUILD_EXAMPLES=OFF ..` with your original module environment?

[2018-04-19 19:52] kshitij-v-mehta commented on #562
Oh oh! The gtc application uses PGI to run their GPU code, so this is a blocker.
Would you know if PGI plans to add C++11 support anytime soon?

[2018-04-19 19:55] williamfgc commented on #562
They are supposed to be fully C++11 compliant on summit-dev, but they are buggy (e.g. std::to_string doesn't work).

[2018-04-19 19:57] williamfgc commented on #562
you can still compile with gcc and try to link the resulting adios2 library. At this point is about trying different combinations.

[2018-04-19 20:31] kshitij-v-mehta commented on #561
I am building with examples=off

[2018-04-20 00:32] williamfgc commented on #562
closing this as it's a known issue.

[2018-04-20 00:32] #562 closed

[2018-04-20 00:33] #400 closed

[2018-04-20 03:12] kshitij-v-mehta commented on #561
Configuring as `CC=cc CXX=CC FTN=ftn cmake -DCMAKE_INSTALL_PREFIX=/ccs/home/kmehta/opt/adios2/installation/intel/ -DADIOS2_USE_SST=OFF -DCMAKE_BUILD_TYPE=Release ../` builds successfully.

[2018-04-20 12:47] williamfgc commented on #561
@kshitij-v-mehta thanks for reporting this. I'm closing the ticket.

[2018-04-22 17:05] kshitij-v-mehta commented on #561
Looks like adding `BUILD_SHARED_LIBS=OFF` breaks the build with the originally reported report

[2018-04-22 19:40] kshitij-v-mehta commented on #550
Looks like this bug still exists with the latest adios2 d75f53b3c5e1863c0d466cada7e6f65ac8554b98

[2018-04-23 14:10] pnorbert opened #568 "Cannot read data from ADIOS1 BP file which has no subfiles"
ADIOS 1.x MPI transport produces a BP file with data in it. No subfiles. The subfile index for variables is -1.

ADIOS 2 misinterprets that -1 and still tries to read from a subfile:

ERROR: couldn't open file heat.bp.dir/heat.bp.4294967295, check permissions or path existence, in call to POSIX open
: iostream error
adios@adiosVM:~/work/adiosvm/Tutorial/heat_transfer$ ls -l heat.bp
-rw-rw-r-- 1 ad

[2018-04-23 14:19] pnorbert commented on #568
To reproduce, look at adiosvm Tutorial, old heat_transfer/ example
[code]

[2018-04-23 14:26] pnorbert opened #569 "ADIOS2 misinterprets byte/char arrays"
This may be a bug. A byte (or char) array from ADIOS1 is interpreted in ADIOS2 as a string scalar.

In ADIOS1 there are string scalars for string scalars and byte arrays for arrays of bytes or characters, including Fortran character(*) types. Fortran cannot write string scalars, only byte arrays in ADIOS1.

Debatable what is good for 1D arrays, but it is also misinterpreted for multi-dim byte arra

[2018-04-23 15:36] suchyta1 opened #571 "SST reading from Python"
I've been working with a modified version of the heat transfer example, which can use SST to stage the output data, and then read it back from a Python plotting script. All the code to build and run is [here](https://github.com/suchyta1/pyDIOS/tree/master/heat-transfer).

The [example job](https://github.com/suchyta1/pyDIOS/blob/master/heat-transfer/job.sh) can either run using files (group='bpfil

[2018-04-23 15:48] williamfgc commented on #550
@kshitij-v-mehta you will see a referenced pull request from a branch that addresses the issue before making it to master. After the CI passes I will merge it into master.

[2018-04-23 16:12] suchyta1 opened #573 "Python high-level API multiple step selection dimensions"
@williamfgc

Using the same source from Issue #571 with the [heat transfer example](https://github.com/suchyta1/pyDIOS/tree/master/heat-transfer), I print the return dimensions of the numpy array from python, when I try to return multiple time steps from the data. To make testing this faster,  I've attached my bp file, so you can just run the reading part of the [job script](https://github.com/suc

[2018-04-23 17:01] williamfgc commented on #561
@kshitij-v-mehta thanks. @chuckatkins can you take a look?  This is happening on Titan.

[2018-04-23 17:15] #550 closed

[2018-04-23 17:15] #548 closed

[2018-04-23 19:35] pnorbert opened #574 "Support for local arrays"
needs to be added

[2018-04-23 19:36] pnorbert commented on #569
Yes, it is a local array, so this issue is related to #574

[2018-04-23 19:36] #569 closed

[2018-04-23 19:41] pnorbert opened #575 "Subfile indexing"
When aggregating data into subfiles, the index name should run from 0,1,...,N-1, where there are N aggregators. Currently the aggregators use their world rank as index.

[2018-04-23 19:42] suchyta1 commented on #546
@williamfgc

There's now Fortran checking to make sure that the written and read data are the same [here](https://github.com/suchyta1/pyDIOS/tree/master/bindings-tests).

For example `make fortran-test`.

[2018-04-23 20:54] pnorbert opened #576 "Fortran to C dimensions swapping not handled in SST"
In a Fortran to C staging, the C reader should get the dimensions in C order, because that's how it uses the read selections, then the actual reads should be converted back to Fortran dimension order.

To recreate the problem, use adiosvm Tutorial/heat2d which has Fortran and C++ codes. In fortran/ directory, edit adios2.xml to use BPFile or SST for the SimulationOutput as needed.

BPFile run:
[co

[2018-04-23 20:56] pnorbert commented on #571
The same dimension ordering problem exist in SST between Fortran and C. Created a new issue for that #576

[2018-04-24 12:28] suchyta1 commented on #546
@williamfgc I have another test where I'm reading from Python. I'm getting segfaults when I use read() from Python (high level API), and I'm not quite sure why. I generated this with some irrelevant test output from GENE (Fortran), but at any rate, I've attached the .bp data [here](https://drive.google.com/drive/folders/16wA0I8UaPO6iNg_OLQgWJs8PYqw3wkXa?usp=sharing). (It's too big to attach here).

[2018-04-24 15:30] williamfgc commented on #573
@suchyta1 great catch. This is a bug that goes deep in the C++11 engine. For now just reader one step at a time, or assign new numpy arrays to each step. Sorry for the inconvenience.

[2018-04-24 15:34] williamfgc commented on #546
@suchyta1 is test a local variable (shape is NULL) or is a global variable? I don't have support for local variable reads, yet.  See issue #574

[2018-04-24 15:38] suchyta1 commented on #546
@williamfgc It's a global variable, with these dimensions:
`double     test            10*{1, 4, 24, 16, 64, 64}`. Using `fr.available_variables()` gets the dimensions correctly when I run the python script.

[2018-04-24 17:09] williamfgc commented on #546
@suchyta1 is this with the latest master?

[2018-04-24 17:40] suchyta1 commented on #546
@williamfgc Just rebuilt Python with latest master and it looks the same as above. However, the file was produced awhile ago. I"ll rebuild the writer too to make sure that wasn't using something outdated that's since been updated.

[2018-04-24 18:03] williamfgc commented on #546
@suchyta1 thanks! My guess is that we are blowing up the stack. Can you run valgrind?

[2018-04-25 16:47] williamfgc commented on #573
@suchyta1 please try the latest master. Let me know if the issue still exist.

[2018-04-25 17:49] williamfgc commented on #573
@suchyta1 do the python tests work?   Is this the seg fault for large data or small datasets?

[2018-04-25 18:03] suchyta1 commented on #573
@williamfgc Good idea of what to check. No, the python tests no longer pass. I see some seg faults. In these tests, what seems to cause the seg fault is running with multiple MPI processes. If I try more than one, it crashes. If I use a single process, it doesn't crash, and passes.

[2018-04-26 12:49] williamfgc commented on #573
@suchyta1 can you try from a fresh installation? It's strange, 'cause if it's in master it means all the CI tests passed in different platforms using MPI.   You can control the number of MPI processes for ctest with `cmake -DMPIEXEC_MAX_NUMPROCS:STRING=4 ../path/to/ADIOS2`  . Thanks!

[2018-04-26 14:51] guj opened #581 "m_ContantDims in variable SetSelection()"
Checking m_ConstantDims makes sense for SetShape(), not SetSelection

[2018-04-26 15:03] williamfgc opened #582 "Failure for odd number of MPI nprocs with Substreams turned on"
When setting an odd number of mpi processes `mpirun -n nproc`  ADIOS2 dumps garbage when 1 < substreams < MPI_Size. Even nproc work correctly.

[2018-04-26 17:54] #582 closed

[2018-04-26 17:54] #575 closed

[2018-04-27 19:43] williamfgc opened #590 "Reader bug causing crash in adiosvm"
Introduced by PR #578

[2018-04-27 21:52] williamfgc commented on #573
@suchyta1 I disabled the fix for reading multiple steps. I need a more robust solution. The adiosvm cases should work with the latest master. Thanks!

[2018-05-09 03:08] jychoi-hpc commented on #562
Just for your information, I had the same problem with PGI on Titan. Then, after following the directions [here](https://www.pgroup.com/userforum/viewtopic.phpt=4664&sid=c6fb0dedb7d559df816fd59f06ecb4ac), I was able to compile with PGI on Titan.

Here is the summary:
[code]

[2018-05-09 13:29] kshitij-v-mehta commented on #562
I built ADIOS2 with gcc, and built the Fortran bindings separately with PGI, and that solves the issue.
Also, it seems PGI 17.10+ fully supports C++11.

[2018-05-09 15:58] suchyta1 commented on #573
I think I had something messed up with my build when the more basic unit tests weren't passing. I checked with master and it's indeed fine.

[2018-05-09 19:56] williamfgc opened #611 "Enforce libzmq3-dev in CMake"
I installed libzmq-dev (which by default is v1) on Ubuntu and CMake will take it as a valid dependency. Later on compilation fails (see below). Minimum should be libzmq3-dev.

`/home/wfg/workspace/ADIOS2/source/adios2/toolkit/transport/wan/WANZmq.cpp: In constructor ‘adios2::transport::WANZmq::WANZmq(std::__cxx11::string, std::__cxx11::string, MPI_Comm, std::__cxx11::string, bool)’:
/home/wfg/work

[2018-05-10 17:20] pnorbert opened #613 "Reading more steps than available"
BP file: it returns 0 in the arrays (or does nothing)
HDF5 file: it aborts
ADIOS 1.x gave an error describing what's wrong. With 11 steps in the heat transfer output, the adios 1.x bpls behaves like this when trying to read 2 steps from the last available step:

[code]

utils/bpls in adios2 behaves like this for a BP file:

[code]
and on a HDF5 file, it aborts:
[code]

For the latter one, the bug

[2018-05-10 19:58] guj commented on #613
Hi Norbert,

Yes,  the exception was not handled.

I changed to the same behavior of bpls, and with print out a warning msg.

Did a pull request. but it is stuck with the failed ssl test.

if you need a quick work around to continue testing, this is the change I made:

 <https://github.com/ornladios/ADIOS2/pull/614/files#diff-7db80940854939412fa3b1f94c1c6366>	@@ -160,7 +160,15 @@ void HDF5ReaderP:

[2018-05-11 13:58] jychoi-hpc opened #615 "Error with clang++ in building bpls"
https://github.com/ornladios/ADIOS2/blob/c9dfa1d326995e2c5eb8fae53b53a3e6c3446efe/source/utils/bpls/bpls.cpp#L527

Just as a quick report, with clang++, I got the following error:
[code]
Maybe we need to use `(fp != NULL)`?

[2018-05-11 17:04] #615 closed

[2018-05-14 14:43] eisenhauer opened #619 "Default to RDMA in the DataPlane where appropriate and test at least nightly..."
I'm tagging a lot of us here, including myself, because there are lots of bits.

We have the libfabric-based DataPlane in the last release, but it is not enabled by default or used in any tests.

We need to:

1. Set the default transport type to "RDMA" where we find libfabric (and maybe where we know it works?).
2. Modify the staging tests so that we can specify engine parameters, including transp

[2018-05-14 15:33] jychoi-hpc opened #621 "Incorrect values when reading parallelly written file"
I got incorrect values when using Adios2 reading with XGC and tried to reproduce the error with a Adios2 example.

Based on helloBPReaderHeatMap3D.f90, I changed a little bit and was able to reproduce the error.

With the following code, I am writing (10x10x20) array with 1.0 value for all element. Then, a single process (rank 0) reads back all the data. I expect to have 2,000 as as sum but got 1,

[2018-05-14 15:46] chuckatkins commented on #619
Does the libfabric implementation we have only work on RDMA or does it also work via tcp or same-node multi-process?  I ask because I can setup a circle build to use two docker images to run CI across two nodes.

[2018-05-14 16:02] philip-davis commented on #619
It can work with tcp sockets, so it doesn't actually need RDMA.

[2018-05-14 16:29] jychoi-hpc commented on #621
Just for information, the difference between the example (examples/hello/bpReader/helloBPReaderHeatMap3D.f90) and my code is the stacking dimension. The original code stacks the array along the 1st dimension:
[code]
while in my code I tried to stack along the last dimension:
[code]

[2018-05-14 16:46] williamfgc commented on #621
Thanks @jychoi-hpc , can you verify that bpls (adios1) is printing the correct numbers? I want to know if it's a writer or a reader problem before jumping in.

[2018-05-14 18:17] eisenhauer opened #622 "Inappropriate compile-time conditional in testing (source of current failures on RaspPi, etc.)"
The test TestBPWriteReadAttributesADIOS2.cpp has #ifdef's that test OS and platform defines when they should probably be testing a compiler characteristic (do I use long or long long to get a 64-bit value) instead.

#if defined(_WIN32) || defined(__APPLE__)
        ASSERT_EQ(attr_i64->m_Type, "long long int");
#else
        ASSERT_EQ(attr_i64->m_Type, "long int");
#endif

[2018-05-14 21:24] lwan86 opened #625 "performance drops significantly when writing 10,000 variables using adios2 bp engine at each step"
I was testing the miniapp code under my branch https://github.com/lwan86/ADIOS2-Examples/tree/miniapp. When writing 10,000 variables at each step, using adios2 bp engine suffers from significant performance degradation compared to using adios1 engine.

This issue can be reproduced on both ubuntu VMs and macbook laptops.

[2018-05-15 01:43] williamfgc commented on #622
@eisenhauer which compiler characteristic?

[2018-05-15 01:54] eisenhauer commented on #622
I didn't look at this in enough detail to fix it, but it looks like what you're trying to return here is what type you use to get a 64-bit integer.  I.E. "long long int" or "long int".  That isn't a property of an OS or platform, but of the compiler.  Generally here I'd ask CMake to test and define type sizes as C preprocessor defines, add them to ADIOSConfig.h, and check SIZEOF_LONG_LONG and SIZE

[2018-05-15 16:02] lwan86 commented on #625
I've tested the newest code on my mac.  There is some improvement, but it is still slower than adios1.

[2018-05-16 02:27] williamfgc commented on #625
@lwan86 how are you running the adios1 engine? are you generating metadata at every step? If so, can you rerun using the latest master? Thanks!

[2018-05-16 14:10] lwan86 commented on #625
@williamfgc I just pulled the latest master and tested again (both adios1 and adios2 are generating metadata at every step). adios2 bp engine is still slower than adios1, but the performance difference is reduced.

[2018-05-16 15:33] lwan86 commented on #625
@williamfgc I did my own profiling and it shows that function call in BP3Serializer.cpp **AggregateMergeIndex(m_MetadataSet.VarsIndices)** takes the most of the time. Specifically, inside this function call, these three functions are slow:

1. const std::unordered_map<std::string, std::vector<SerialElementIndex>> nameRankIndices =
            DeserializeIndicesPerRankThreads(gatheredSerialIndices)

[2018-05-16 19:48] pnorbert opened #629 "Metadata in subfiles is missing"
The metadata per subfile needs to be written to the end of the subfile (as in adios1).
The option for writing the global metadata file is independent from this.
bpmeta is using these pieces of metadata sections to construct the global metadata file if that is missing.

There may be another option to turn this off but only when the global metadata file is created. Otherwise the data will be unreada

[2018-05-17 12:08] lwan86 commented on #625
After enabling the optimization option during compilation, adios2 is faster than adios1 engine.

[2018-05-17 12:08] #625 closed

[2018-05-17 12:45] #590 closed

[2018-05-17 20:52] JasonRuonanWang opened #634 "Linker error when building with ZFP:OFF on Mac using clang 9.1.0 and gfortran 8.1.0"
I was trying to build using the default configuration on Mac, and I don't have ZFP installed in anywhere on my machine. CMake automatically turned off ZFP because it does not find ZFP library but I still got this linker error complaining about ZFP library missing.

[ 58%] Linking Fortran executable ../../../bin/hello_bpWriter_f
ld: file not found: @rpath/libzfp.0.dylib for architecture x86_64
coll

[2018-05-18 02:33] JasonRuonanWang opened #635 "bpls uint64_t and size_t printf specifier problem on Mac and Clang 9.1.0"
/Users/jason/dropbox/tmp/ADIOS2/source/utils/bpls/bpls.cpp:1521:42: warning: format specifies type 'unsigned long long' but the argument has type
      'std::__1::vector<unsigned long, std::__1::allocator<unsigned long> >::value_type' (aka 'unsigned long') [-Wformat]
            PRINT_DIMS_UINT64("  start", startv.data(), tdims - tidx, j);
[code]

[2018-05-21 12:50] williamfgc opened #639 "MPI tests running with 1 process by default"
mpirun -n 4 is used for bindings (Fortran, Python) tests, but not for C++ or C, running on Ubuntu 16.04, gcc 5.4.0, cmake 3.11.1, openmpi 1.10.2

[code]

[2018-05-21 13:01] williamfgc commented on #634
@JasonRuonanWang I can't reproduce, do you have a hanging adios2 compilation somewhere else?

[2018-05-21 19:27] williamfgc commented on #629
@pnorbert @jychoi-hpc I just merged so we can test XGC with the latest master, and then apply bpmeta. I'll keep this open in case there are issues.

[2018-05-21 20:30] JasonRuonanWang commented on #634
@williamfgc This was from a few commits ago and I can't reproduce it with the latest master either on my home computer. I will have a look tomorrow on my work laptop and let you know. Thanks.

[2018-05-22 17:45] JasonRuonanWang commented on #634
Cannot reproduce any more.

[2018-05-22 17:45] #634 closed

[2018-05-22 17:46] JasonRuonanWang commented on #635
Fixed in #636

[2018-05-22 17:46] #635 closed

[2018-05-22 17:46] JasonRuonanWang commented on #611
@williamfgc Is this finalized? Anything you need from my side?

[2018-05-22 19:58] williamfgc commented on #611
@JasonRuonanWang let's ask @chuckatkins as this has to be done in CMake

[2018-05-22 20:29] williamfgc commented on #621
@jychoi-hpc please try again, I just merged a pull request into master. Thanks!

[2018-05-23 14:39] jychoi-hpc commented on #621
It works now. I also tested a few things with XGC and it looks good. Thank you for the quick fix.

[2018-05-23 15:02] williamfgc commented on #621
Thanks @jychoi-hpc  I added your case as part of the automatic testing!

[2018-05-23 15:02] #621 closed

[2018-05-25 13:47] chuckatkins commented on #639
This was caused by a mismatch in our local copy of GoogleTest.cmake and upstream.  This was fixed in #633

[2018-05-25 13:47] #639 closed

[2018-05-25 14:45] #611 closed

[2018-05-25 20:26] chuckatkins commented on #561
@kshitij-v-mehta can you please try the current master?  A few branches merged since this should address the underlying cause.

[2018-05-25 20:31] chuckatkins commented on #561
In short, in a mixed language executable with c, c++, and Fortran, CMake will generally default to linking the executable with the c++ compiler.  This can break code with Fortran "mains" since the program entry points are dealtt with differently by the c, c++, and Fortran runtimes.  The fix was to explicitly set linker language property on all Fortran executables, tests and examples.

[2018-05-25 20:40] chuckatkins commented on #622
Ideally we would be able to move away from "natural" integer types to fixed width integer types for actual data values, which will be agnostic to os, compiler, and platform. It's fairly involved though so something to stick on the Todo list...'

[2018-05-30 13:32] williamfgc opened #654 "Fortran APIs missing adios2_set_engine subroutine"

[2018-05-30 13:51] williamfgc opened #656 "Revert to functional HDF5 tests"
For some reason I messed up my rebase and ended up merging the wrong version for the HDF5 tests. Will revert to before PR #644

[2018-06-07 12:55] suchyta1 commented on #560
I've noticed that there doesn't seem to be a way to get attributes from the Python bindings. Something like InquireAttribute() seems natural in the low level API, as an analog to InquireVariable().

[2018-06-12 14:31] williamfgc opened #669 "PIMPL refactoring"
Add Private Implementation to C++ bindings to avoid pointers and references in public API objects.

[2018-06-12 21:05] stevenwalton opened #670 "ADIOS.inl file not found"
Looks like the inl file was not installed and included in the ADIOS.h
`
zsw ~/Programming/Testing/adios2Fun $ make
Scanning dependencies of target sstWriter
[ 25%] Building CXX object CMakeFiles/sstWriter.dir/sstWriter.cpp.o
In file included from /Users/zsw/Programming/Testing/adios2Fun/sstWriter.cpp:8:
In file included from /opt/adios2/include/adios2.h:16:
/opt/adios2/include/cxx11/ADIOS.h:137:10

[2018-06-12 21:10] eisenhauer commented on #576
@pnorbert This should be repaired now.

[2018-06-13 12:00] williamfgc commented on #670
@stevenwalton please try again with the latest master. It's highly recommended to start from scratch (git clone... rather than git pull and new build and install areas).

[2018-06-13 12:43] stevenwalton commented on #670
In `adios2/include/adios2.h` (line 22) you have an include `cxx11/fstream/ADIOS2fstream.h` but this file is `cxx11/ADIOS2fstream.h`.

Changing that path allowed my code to run just fine.

[2018-06-13 12:48] williamfgc commented on #670
@stevenwalton thanks for catching that. Will fix right away

[2018-06-13 14:23] #669 closed

[2018-06-13 14:24] williamfgc commented on #629
Closing this as no new issue is reported

[2018-06-13 14:24] #629 closed

[2018-06-13 14:52] williamfgc commented on #560
@suchyta1 please take a look at PR #672  the python test (testing/adios2/bindings/pythonTestBPWriteReadTypes.py) for types will show the added functionality. Use the IO AvailableAttributes function to get the attribute elements, not InquireAttribute. Thanks!

[2018-06-13 14:53] williamfgc commented on #560
I will close this for now. For new requests please open a new issue. Thanks!

[2018-06-13 14:53] #560 closed

[2018-06-13 14:53] #670 closed

[2018-06-13 14:54] #546 closed

[2018-06-13 19:34] kshitij-v-mehta opened #675 "Python API segfault with reading arrays"
I have a test code in Python that reads variables from a BP file. Reading the first array works fine, but reading the second array leads to a crash due to `*** glibc detected *** python3: munmap_chunk(): invalid pointer: 0x0000000000b78450 ***`.

Test code is on Titan as `/lustre/atlas/world-shared/csc143/kmehta/gtc/python-analysis/test_reader.py`. This uses a slightly older version of ADIOS2. `so

[2018-06-14 13:20] williamfgc commented on #675
@kshitij-v-mehta please try the low-level Python APIs (ADIOS, IO, Engine, Variable, etc.). This is still using the single object higher-level API that does the allocation in C++ and passes it to Python.

[2018-06-18 18:16] stevenwalton opened #679 "Linking library error with SST and Ascent (Mac)"
I have no errors installing ascent when I install adios2 with `ADIOS2_USE_SST=OFF` but when I have SST enabled and add the libraries (using `target_link_libraries(ascent_mpi PRIVATE "-lmpi -L${ADIOS2_DIR}/lib -ladios2 -ladios2_dill -ladios2_atl -ladios2_enet -ladios2_ffs -ladios2_sst")`) to my CMakeLists.txt I get the following error during make

[code]
If I rearrange the libraries I will get the

[2018-06-18 19:15] williamfgc commented on #679
@chuckatkins @eisenhauer can we have a cmake example on how to link adios2 with sst underlying libraries in an external application (e.g. ascent?)? Thanks!

[2018-06-19 21:34] jychoi-hpc opened #682 "Problem in reading a scalar value by name"
I am trying to read scale values by using the following code without getting correct values. I am wondering if I am missing some APIs. My data file is [here](https://www.dropbox.com/sh/ci7tdpxybk1p4vj/AABcG3B8ifJQt5zBh0hFl1bqa?dl=0)

[code]

[2018-06-20 10:31] williamfgc commented on #682
Thanks @jychoi-hpc, I was able to reproduce with your data file. I thought I had tests for this, maybe not. Will get back with a fix.

[2018-06-20 15:59] olesenm opened #683 "bpls -d throws"
I've restarted my effort from last Nov to begin migration from ADIOS1 to ADIOS2 (lost some time with API changes and other things along the way).
I'm still trying to figure out why I'm not really generating data properly (files are too small) and thus figured on using `bpls` to try to understand what is where. `bpls -l file` shows me my variables and attributes, but using the `-d`  or `--dump` cor

[2018-06-20 17:03] williamfgc commented on #683
Hi @olesenm please use adios1's bpls as a quick work around. I am still working on bugs and sorting out things for this month's (June 30th) release.  BTW, local arrays are still not fully supported on the read side. I'd stick with global arrays for now. Also, we are figuring out ways to provide the memory from the engine itself. We'll keep you posted.

[2018-06-20 20:22] olesenm commented on #683
OK, I'll give it a try with bp1 tomorrow. Not sure how global arrays really fit into our usual storage, but will cross that bridge later.

[2018-06-21 12:29] williamfgc commented on #683
@olesenm that's a good question. On the reader side if either adios2 or the user provides pre-allocated memory it will be the same footprint. We do this since the low-level API `Get` function requires pre-allocated memory, while the high-level API (fstream based, not for performance, but analysis) `read` returns a vector taking advantage of move semantics. The challenge is for a write buffer, basi

[2018-06-21 12:34] williamfgc commented on #683
about global vs local, just make the shape = count and start = zeros to get a global variable. e.g. `DefineVariable<T>("var", {5,5,5}, {0,0,0}, {5,5,5}, ...);  Truly local variables (local to a rank) are a special case in MPI runs and they are retrieve as "blocks". In fact, for non-MPI there is no distinction. We are prioritizing global variables functionality since this is our common use case.

[2018-06-21 18:49] dpugmire opened #684 "overloaded get/put"
overloaded get/put to support std::vector

[2018-06-26 01:07] williamfgc commented on #682
@jychoi-hpc can you check again with the latest master? I just merged a fix and a test based on your example code. Thanks!

[2018-06-26 12:57] williamfgc commented on #573
@suchyta1 can you check if reading multiple steps is working for you with the latest master? I just did a pull requests with tests. Thanks!

[2018-06-26 14:24] jychoi-hpc commented on #682
Yes, it works. Thank you for the quick fix.

[2018-06-26 15:31] #682 closed

[2018-06-26 17:48] suchyta1 opened #691 "SST from Fortran Error"
I'm trying to use SST in coupling XGC and GENE. I've largely gotten it working, but am running into a situation where I can do several successful steps, but then get a failure "at some point".

The way this works, is each stage of the coupling GENE opens a differently named file, and then XGC reads it. And that runs in a loop. In this example, the first 4 stages ran correctly, but when it get's to

[2018-06-26 17:53] eisenhauer commented on #691
Is it possible that there are .sst postfix files that remain after some kind of unsuccessful termination of the writer program?  Generally the "SstReader did not find active Writer contact info in file" means that the reader found a file of the appropriate name, but upon reading the SST contact information in that file, there was no longer an active process serving that information.  Perhaps betwe

[2018-06-26 18:00] suchyta1 commented on #691
@eisenhauer I delete everything in the `coupling/` directory at the start of the run, so there isn't anything still sitting there pre-run.

I'm turning on SstVerbose=1, and I'll see what I get.

[2018-06-26 18:32] suchyta1 commented on #691
This time, the run looked kind of different. It got to phase 4 and hangs, without any explicit error messages. I attached the logs.
[GENE-log.txt](https://github.com/ornladios/ADIOS2/files/2138434/GENE-log.txt)
[XGC-log.txt](https://github.com/ornladios/ADIOS2/files/2138435/XGC-log.txt)

[2018-06-26 18:34] suchyta1 commented on #691
To add a little more detail to my previous messages about how the coupling proceeds, in each stage, both XGC and GENE each do a read and write. First GENE writes density data, which XGC consumes. Then XGC writes some potential data, which GENE consumes. It is that process that runs in a loop.

[2018-06-26 19:12] eisenhauer commented on #691
Is this all done with the default Sst engine parameters?  I.E. rendezvous readers=1 and queue limit = 0 (unlimited)?
One concern here is that unlike file-based transports, Sst is more synchronous.  For example, with BP, the writing side can do an open/write/close and roll on without worrying about a reader.  While on the reader side, the open() will block until the file is there, but then roll on

[2018-06-26 19:15] pnorbert commented on #691
I understand that this is an error, but the coupling should be done with
one fixed filename to make the connection once.

The new BP metadat format is going tp support this mode through files as
well.

On Tue, Jun 26, 2018, 9:12 PM eisenhauer <notifications@github.com> wrote:

[2018-06-26 19:49] suchyta1 commented on #691
All the defaults are indeed used. I think the process should "work" because everything with density has to happen, then everything with field, and so forth. So GENE sends density, and won't continue until XGC receives. After that GENE just basically instantly goes to waiting for potential data until XGC is ready to send it. Then XGC sends it and both can continue. Everything is synchronous, and we

[2018-06-26 19:57] suchyta1 commented on #691
Thinking about this, it's probably ok to only open once at the first stage, then at each stage start a new step, write/read, and end the step, and only close once at the very end. I just hadn't done it that way, b/c that approach doesn't work with files.

[2018-06-26 20:13] eisenhauer commented on #691
Doing one filename and multiple opens/closes would be bad.  (Then I would understand how you might have stale file data, and there would be no efficiency improvement over multiple filenames.)  Doing one open and multiple begin/end steps would be the way to go.   There is no append step mode for SST...

[2018-06-26 21:42] suchyta1 commented on #691
I think it was understood from Norbert's comment, but for clarity if anyone
didn't follow: so far I've had a different filename each step, but I'll
also try the single filename with single open and see how that goes.

On Tue, Jun 26, 2018, 4:13 PM eisenhauer <notifications@github.com> wrote:

[2018-07-02 18:42] kshitij-v-mehta opened #700 "Python not detected even with -DADIOS2_USE_Python=ON on Titan"
The build system does not enable Python bindings on Titan.

Loaded modules:
[code]

Build command:
`cmake -DADIOS2_USE_Python=ON -DADIOS2_USE_Fortran=ON -DCMAKE_BUILD_TYPE=Release`
shows
[code]

[2018-07-03 13:53] williamfgc commented on #700
@kshitij-v-mehta   looks like it's trying to do a static build. Can you try setting the environment variable CRAYPE_LINK_TYPE=dynamic and set -DBUILD_SHARED_LIBS=OFF . http://adios2-adaptable-io-system-version-2.readthedocs.io/en/latest/installation/installation.html#building-on-high-performance-computing-hpc-systems

[2018-07-03 14:35] williamfgc commented on #684
@dpugmire there is now a Get signature that accepts an std::vector instead of a pointer. This is resized internally, so no need to pre-allocate. There is little value for Put since std::vector.data() will pass the pointer. Closing this. Thanks!

[2018-07-03 14:35] #684 closed

[2018-07-03 14:36] williamfgc commented on #675
@kshitij-v-mehta I committed a fix in the latest master, can you try again and verify that this works? Thanks!

[2018-07-03 14:40] williamfgc commented on #613
@pnorbert I added a commit, an exception will be thrown if a step selection goes beyond last step. There is a test https://github.com/ornladios/ADIOS2/blob/master/testing/adios2/engine/bp/TestBPWriteReadADIOS2.cpp for overflow. Thanks!

[2018-07-03 15:04] kshitij-v-mehta commented on #700
Works with CRAYPE_LINK_TYPE=dynamic and set -DBUILD_SHARED_LIBS=OFF

[2018-07-03 15:04] #700 closed

[2018-07-08 17:29] pnorbert opened #705 "Compile error on CompressSZ"
I don't understand why this is not compiling. Ubuntu 16.10 VM, gcc 6.2.0, latest master, SZ is ON:

[ 27%] Building CXX object source/adios2/CMakeFiles/adios2.dir/operator/compress/CompressSZ.cpp.o
/home/adios/work/ADIOS2/source/adios2/operator/compress/CompressSZ.cpp: In member function ‘virtual std::size_t adios2::core::compress::CompressSZ::Decompress(const void*, std::size_t, void*, const Dims

[2018-07-08 18:02] pnorbert opened #706 "engine%type is always BPFile"
No matter what the engine is, this fortran structure member is always BPFile:

        call adios2_open (bp_writer, io, filename, adios2_mode_write, adios2_err)
        ! For information purposes only:
        if (rank == 0) then
            print '("Using ",a, " engine for output")', bp_writer%type
        endif

[code]

[2018-07-08 21:12] williamfgc commented on #705
@pnorbert the namespace helper:: is needed for `helper::GetTotalSize` it helps understand where functions come from. I never touched SZ since this is from Jong's hackathon project. I am working on operators interface and buffering right now.

[2018-07-08 21:20] williamfgc commented on #706
@pnorbert this is using the xml config I assume...then, it is a bug in the Fortran API

[2018-07-09 00:32] pnorbert commented on #706
Yes, this is the heat transfer example after fixing the F90 source,
replacing the adios2_io_engine_type() function with this.

On Sun, Jul 8, 2018, 5:20 PM williamfgc <notifications@github.com> wrote:

[2018-07-09 20:15] stevenwalton opened #707 "Get Version number"
Can I get a function that passes back the version number?

[2018-07-09 23:11] williamfgc commented on #706
@pnorbert @suchyta1 this should be fixed on master, please let me know. Thanks!

[2018-07-09 23:11] #706 closed

[2018-07-09 23:19] pnorbert commented on #706
Yes this update fixed it, thanks.

On Mon, Jul 9, 2018, 6:11 PM williamfgc <notifications@github.com> wrote:

[2018-07-10 12:10] williamfgc commented on #707
@stevenwalton since this is a very specific case, I think directly including `adios2/ADIOSConfig.h` will give you access to the compile-time definitions:

[code]

[2018-07-10 12:10] #707 closed

[2018-07-10 18:39] swatisgupta opened #710 "SST hangs for heat2d code on Titan"
I am trying to run heat2d(cpp) example using SST engine but both the codes seem to hang while trying to connect to each other (works fine with BPFile engine). The output and runtime configurations are as follows:

(1) aprun -n 12 ./heatSimulation sim.bp  4 3  5 10 10 10
Process decomposition  : 4 x 3
Array size per process : 5 x 10
Number of output steps : 10
Iterations per step    : 10
Simulation

[2018-07-10 18:51] eisenhauer commented on #710
The problem is with the filenames.  By the time the SST engine gets them one of those (reader or writer, don't remember which) will have an extra .bp added to it (or was it .bp removed).  Use environment variable SstVerbose=1 to see what file names the engine sees.

Hmm.  I think if you remove the .bp from the writer side command line, something in ADIOS2 will add it back and everything will work.

[2018-07-10 19:03] pnorbert commented on #710
This is the C++ example which does not add the file extensions like the old
Fortran example.

On Tue, Jul 10, 2018 at 2:51 PM, eisenhauer <notifications@github.com>
wrote:

[2018-07-10 19:13] eisenhauer commented on #710
Someone is still adding...

Sent from my iPhone

[2018-07-10 19:23] swatisgupta commented on #710
Thanks for suggesting SstVerbose=1. The analysis code was waiting for a reader. I changed the heatAnalysis engine configuration in adios2.xml to BPFile and it works now :).

`Reader 0 (0xa21150): Reader 0 (0xa0ff20): Sst set to use enet as a Control Transport
Sst set to use enet as a Control Transport
Reader 0 (0xa21150): Waiting for writer response message in SstReadOpen("sim")
Reader 0 (0xa21150

[2018-07-11 16:42] pnorbert opened #712 "Need attributes saved from non-zero ranks"
In situ viz libraries need this feature. They may create variables and associated attributes on the local ranks but attributes only saved from rank 0. We need to merge in attributes from other ranks if they don't exist on rank 0.

I have created a test for this in PR #711

[2018-07-11 18:35] williamfgc opened #713 "C and Fortran API name clash"
aiods2_advance_step has multiple definitions, found while working with the C bindings on hPIC code.

[2018-07-11 19:58] williamfgc commented on #713
@suchyta1 @jychoi-hpc can you verify that this fix solved the name clash problem? Thanks!

[2018-07-12 11:42] williamfgc commented on #707
On a 2nd thought you don't need to adios2/ADIOSConfig.h , it's already included in adios2.h

[2018-07-12 12:34] suchyta1 commented on #713
Yes, it worked for me.

On Wed, Jul 11, 2018, 3:58 PM williamfgc <notifications@github.com> wrote:

[2018-07-12 12:34] williamfgc commented on #712
@pnorbert  from PR #716 check the size of the bp file using mpirun -n 10 for our attributes tests with `ls -all`:

Before:
[code]

[2018-07-12 12:37] williamfgc commented on #713
Great, thanks @suchyta1 ! Closing this.

[2018-07-12 12:37] #713 closed

[2018-07-12 12:41] pnorbert commented on #712
Thanks. You can also verify this with bpdump

On Thu, Jul 12, 2018, 7:34 AM williamfgc <notifications@github.com> wrote:

[2018-07-16 19:16] JasonRuonanWang opened #718 "Compile error when enabling SZ"
/home/w4g/d/adios2/source/adios2/operator/compress/CompressSZ.cpp: In member function ‘virtual std::size_t adios2::core::compress::CompressSZ::Compress(const void*, const Dims&, std::size_t, std::__cxx11::string, void*, const Params&) const’:
/home/w4g/d/adios2/source/adios2/operator/compress/CompressSZ.cpp:52:8: error: ‘sz_params {aka struct sz_params}’ has no member named ‘dataEndianType’; did y

[2018-07-16 20:43] kshitij-v-mehta opened #719 "`type 11 not supported` for variable of type `adios2_type_complex_dp`"
I am running an example that contains a variable of type complex(kind=8).
At runtime, I get the following error:
`ADIOS2 end_step: ERROR: type 11 not supported in BP3 Metadata Merge`.
Variable was declared as `adios2_type_complex_dp`.

This is on a local machine with gcc 6.3.0. ADIOS2 version is from master with last commit 8984e168452ade27fae89918b86bd872a84d4e47 .

[2018-07-16 20:46] kshitij-v-mehta commented on #675
Thanks, it works.

[2018-07-17 13:29] #712 closed

[2018-07-17 13:29] #675 closed

[2018-07-17 13:30] williamfgc commented on #581
Dims refer to Shape, Start and Count (global and local dimensions). It would be a ConstantShape flags instead if that was the case.

[2018-07-17 13:30] #581 closed

[2018-07-17 13:45] williamfgc opened #722 "Provide user-level multiblock inspection functionality"

[2018-07-17 16:52] #722 closed

[2018-07-17 18:29] stevenwalton opened #724 "SST Hanging on IO::Open"
SST is hanging on an IO.Open statement. Switching the engine to "BPFile" results in working code. Test code is given below.

[code]
Trying to diagnose this I did a complete rebuild of adios2 (wiping the previous installation). The program creates an sst file
[code]
But when running through DDT it gets to the Open statement and does not progress further. ```*(m_Engine)``` has value ```<incomplete t

[2018-07-17 18:34] stevenwalton commented on #724
Never mind. I found the typo. The above code should work fine. But those SST tests still fail on my system.

[2018-07-17 18:34] #724 closed

[2018-07-17 18:56] keichi opened #725 "Some tests using MPI fail due to insufficient number of slots"
These tests fail on my laptop with the recent version of ADIOS2:

[code]

Error message:

[code]

A workarounds that I found is to edit the cmake file (e.g. `examples/heatTransfer/TestBPFileMx1.cmake`) and reduce the number of requested MPI processes or add the `--oversubscribe` flag.

- ADIOS2 4c6e11f7
- MPI: Open MPI 3.1.1
- OS: macOS 10.13.4 (17E202)
- CPU: 2.3 GHz Intel Core i5 (2 cores, 4 thr

[2018-07-17 19:10] williamfgc commented on #725
@chuckatkins @keichi found a valid bug. Can CMake check the number of cores in a system? Then assign 2 if 2 and 4 for a number larger than 4? Thanks!

[2018-07-18 19:11] tneuroth opened #728 "DataMan test failing"
`$ ctest -VV -R DataMan
UpdateCTestConfiguration  from :/home/tn0/repos/A2-BUILD/DartConfiguration.tcl
Parse Config file:/home/tn0/repos/A2-BUILD/DartConfiguration.tcl
 Add coverage exclude regular expressions.
 Add coverage exclude: .*/thirdparty/.*
 Add coverage exclude: .*/testing/.*
 Add coverage exclude: .*/examples/.*
SetCTestConfiguration:CMakeCommand:/usr/local/bin/cmake
UpdateCTestConfigu

[2018-07-18 19:12] williamfgc commented on #728
@JasonRuonanWang DataMan tests should only run if adios2 was compiled with ZMQ.

[2018-07-19 04:03] JasonRuonanWang commented on #728
I have fixed the issue and merged into the master. Please check and let me know there is still problems.

[2018-07-19 17:13] #728 closed

[2018-07-20 20:56] pnorbert opened #736 "Heat Transfer tutorial fails with SST/BP"
This got broken at some point.

in adiosvm/Tutorial/heat2d/cpp/adios2.xml:
[code]

[code]

HeatTransfer with SST with BP marshaling is not in the tests, only SST with the default FFS marshaling. Can you please add another case for testing this?

[2018-07-21 19:03] JasonRuonanWang commented on #736
@pnorbert I cannot reproduce this error. This is what I got by running exactly the same configuration as you did.

jason@MacPro.local:~/d/AdiosVM/Tutorial/heat2d/cpp $
jason@MacPro.local:~/d/AdiosVM/Tutorial/heat2d/cpp $cat adios2.xml
<?xml version="1.0"?>
<adios-config>

    <io name="SimulationOutput">
        <engine type="SST">
            <parameter key="MarshalMethod" value="BP" />
        <

[2018-07-22 01:09] pnorbert commented on #736
Indeed, it works on my laptop's VM.
I will not be able to check on my PC's VM for a while, so I don't know what
was going on.
Thanks

On Sat, Jul 21, 2018 at 3:03 PM, Jason Wang <notifications@github.com>
wrote:

[2018-07-22 01:29] JasonRuonanWang commented on #736
The SST BP marshaling code does not touch anything in BP format so deeply as checking the BP format version. So this doesn't seem like a SST BP marshaling problem. It seems to me like there is a corrupt data file, or the executables are linked to a wrong adios library version or something like these.

[2018-07-23 18:27] stevenwalton opened #740 "adios2::Variable metadata going out of scope with SST engine"
I have a SST reader where I am updating a map `map<string, adios2::Variable<double>>` (`sstReadVars`) and after the stream ends I am writing the data to a bp file.

My problem is that the metadata, specifically the Shape, gets overwritten by the time I can write to a bp file. This does not matter if my `sstReader.Close()` is after I am done reading from the stream (current location) or after I wri

[2018-07-23 20:16] pnorbert commented on #736
Okay, so there is no bug here. But I also requested that the SST/BP is added to the heat transfer tests. Should we create a new issue for that?

[2018-07-23 20:20] JasonRuonanWang commented on #736
Chuck added heat transfer tests. It would be better if he can add another for SST/BP, for better consistency.

[2018-07-23 20:22] chuckatkins commented on #736
CI already runs the heat transfer example for w:bp -> r:bp,w:bp and w:sst -> r:sst,w:bp

[2018-07-23 20:23] chuckatkins commented on #736
Which ones are missing that you'd like to see?  It's easy enough to add them.

[2018-07-23 20:24] pnorbert opened #741 "SST with multiple consumers is not working anymore"
This did work before. One producer and two consumers.

The a->b->c pipeline works fine in the heat transfer example
`mpirun -n 4 simulation/heatSimulation_adios2 sim 2 2 50 50 10 100 : -n 2 ../cpp/heatAnalysis sim.bp analysis.bp 2 1 : -n 1 ../cpp/heatVisualization analysis.bp`

But a-> (b & c) with two readers of the same stream hangs:

[code]

After the fix we also need a test for this to make su

[2018-07-23 20:30] pnorbert commented on #736
I meant that SST can be executed with an extra parameter to turn on BP
buffering instead of FFS buffering. Only the default FFS buffering is
tested.
"MarshalMethod=BP" is the parameter. The TestStagingMPMD test includes two
tests, one with default SST and one with this parameter.

On Mon, Jul 23, 2018 at 4:23 PM, Chuck Atkins <notifications@github.com>
wrote:

[2018-07-23 22:41] eisenhauer commented on #741
BTW, for things like this it's handy to be able to specify engine parameters on the command line, for which they'd have to be parsed from a string.  I have some code that does this that I use in some SST tests to avoid having to have lots of executables or lots of .xml files.  But it would be better to have a more broadly visible ADIOS2 function that could be used for this.

[2018-07-23 22:56] pnorbert commented on #741
I was not aware that I had to provide a parameter for that. That makes
sense but I don't remember using one at the ECP demo in February.
Thanks

On Mon, Jul 23, 2018, 6:41 PM eisenhauer <notifications@github.com> wrote:

[2018-07-23 23:06] eisenhauer commented on #741
Well, it *might* work without one, but it might not.  The writer will always accept a second client, but the parameter guarantees that it will be there to accept it.  If the writer is going to run for a long time, you probably don't need it because the 2nd reader will likely start before it dies.   But if the writer might complete quickly, it's a good idea to tell it to wait.  (I'm working on some

[2018-07-24 01:13] BarrySmith opened #743 "shared library problem on Mac"
When I build master on Mac (with the latest Mac OS and Xcode all up to date), and try to link against adios2.dylib I get the linker unable to find libadios2_atl.2.dylib

Poking around a little bit I noticed

$ otool -L arch-darwin-c-debug/lib/libadios2_sst.dylib
arch-darwin-c-debug/lib/libadios2_sst.dylib:
        @rpath/libadios2_sst.2.dylib (compatibility version 2.0.0, current version 2.2.0)

[2018-07-24 03:05] BarrySmith commented on #743
The same cmake commands and process work fine for Linux so I think this is an issue specific to the Mac.

[2018-07-24 10:11] williamfgc commented on #743
Hi @BarrySmith, please try adding the lib directory under adios2 installation to DYLD_LIBRARY_PATH on MAC. You're right, we have seen different runtime behaviors on Mac and Linux.

[2018-07-24 18:02] BarrySmith commented on #743
@williamfgc Thanks for your quick response. @chuckatkins  Setting DYLD_LIBRARY_PATH does allow the code to run successfully.

But this is not a very attractive approach for automatic builds, testing etc (for security reasons Apple doesn't pass environmental variables like this through scripts which breaks our tests). Note that ONLY the single library libadios2_atl.2.dylib  is missing the @rpath/ p

[2018-07-24 20:47] stevenwalton opened #744 "DataMan doesn't support PerformPuts"
When executing code with PerformPuts I get the error
[code]

[2018-07-24 20:51] williamfgc opened #745 "Heat transfer SST tests failed without SST compilation"
@chuckatkins this should be simple cmake level fix. ADIOS2 tries to run HeatTransfer.SST tests even with ADIOS2_USE_SST=OFF

[code]

Used configuration:
[code]

[2018-07-24 21:39] JasonRuonanWang commented on #744
@stevenwalton I have added PerformPuts in DataManWriter. Please check the latest commit in master.

[2018-07-24 21:39] #744 closed

[2018-07-25 01:37] eisenhauer commented on #740
IMHO, this code relies upon things that it shouldn't rely upon.  In particular, this reader code will break if the writer doesn't happen to write the same set of variables on each timestep.  It will also break if the written variables don't happen to be written with the same shape in each timestep.  It relies upon an artifact of the implementation of some engines.  Generally variables and their me

[2018-07-25 16:47] pnorbert commented on #740
Proposed solution:
1. Let's keep SST as it is: when BeginStep() is called, the user indicates that there is no need for the variables of the current step, which actually became "previous" step because EndStep() was called.

2. Let's have an extra user function to return a (vector of) VarInfo struct describing variables, which gives back a data structure owned by the user:

struct VarInfo holds: na

[2018-07-25 18:50] isosc opened #748 "Support for string arrays"
This is a followup on a discussion with @williamfgc and @pnorbert about adding support for string arrays (vector of strings, numpy array). The primary need is to extend the C++ API to support put and get of vectors of strings. Once that exists, extending this functionality into Python should be straightforward.

One design issue is how to serialize and deserialize this data structure to BP. We dis

[2018-07-25 19:50] stevenwalton opened #749 "DataMan StepStatus"
I have noticed in the examples that DataMan is not using BeginStep and EndStep. Going through the examples I noticed that it is only grabbing a single time step and that to read multiple time steps that the reader needs to be looped. This has led to to an inability to use the same scheme for looping over steps as in SST and determining the final step automatically.

Eg:
[code]
With the DataMan eng

[2018-07-26 01:39] JasonRuonanWang commented on #749
#742

[2018-07-26 03:01] eisenhauer commented on #748
Just a note, this is very straightforward with the FFS marshaling employed by default in SST as the lower layer supports marshaling general pointer-based data structures.  So as soon as the C++ API is set, I'd just need to tweak the data type conversions and it pretty much falls out.

[2018-07-26 19:54] JasonRuonanWang commented on #749
@stevenwalton The latest master should work now. But you will need to use "p2p" mode rather than "subscribe". The publish-subscribe mode is designed such that the writer and reader are always running regardless the stream is ended or not. Even a writer ends, the reader should still listen to the same port and wait for another potential writer to start.

In the "p2p" mode a writer and a reader is s

[2018-07-26 19:55] #749 closed

[2018-07-27 14:05] stevenwalton opened #755 "HDF5 Engine does not do PerformPuts"
When using the HDF5 engine and `PerformPuts` I get the error

[code]

[2018-07-27 18:51] guj commented on #755
Please check out again. It should resolve this error. Thanks.

[2018-07-27 19:37] stevenwalton commented on #755
While I don't get the `PerformPuts` error I am not getting some dialogue error. I will note that this code works fine with BPFiles, SST, and DataMan.

I believe that this error is happening at the close of the file. I cannot be too sure because I am not calling a proper close, but this error happens when my writer goes out of scope (and when the `Close` function would call.

[code]
 If I understan

[2018-07-27 23:21] guj commented on #755
I just tried a simple program writting out variables and attributes with a few processors.
It went successfully.

So, would you mind send me your client code? (or a simpler version)  It might be easier to resolve.

Also, please indicate which version of hdf5 that you use.

Thanks!

[2018-07-30 12:58] williamfgc commented on #755
@stevenwalton @guj if an issue gets resolved please close the ticket and mark it as resolved. If a new unrelated issue appears, please open a new ticket otherwise it become hard to track over time. Thanks!

[2018-07-30 13:05] stevenwalton commented on #755
Sorry @williamfgc I was busy over the weekend and did not get to the ticket.

I will try to make another simpler case that can replicate the results but I am getting this error when running my version of Ascent. https://github.com/stevenwalton/ascent I am running the clover leaf example in there. The ascent-actions.json file needs to be altered so that "transport" has the keyword "hdf5".

[2018-07-30 13:08] stevenwalton opened #757 "HDF5 Attribute errors"
When writing attributes using the HDF5 engine I am getting errors. I do not get these same errors when running with the other engines.

I believe that this error is happening at the close of the file. I cannot be too sure because I am not calling a proper close, but this error happens when my writer goes out of scope (and when the Close function would be called).
[code]
If I understand the problem

[2018-07-30 13:08] stevenwalton commented on #755
I will open a new ticket for the new problem. @guj #757

[2018-07-30 13:08] #755 closed

[2018-07-30 16:42] guj commented on #757
the src/examples/ does not have anything named clover leaf

[2018-07-30 16:48] guj commented on #755
I am attaching my simple test file.
- Junmin

[2018-07-30 18:17] stevenwalton commented on #757
Here is the example I am running

https://github.com/stevenwalton/ascent/tree/develop/src/examples/proxies/cloverleaf3d-ref

I have edited "ascent_actions.json" to look like this
[code]
And you can edit "clover.in" so that "visit_frequency" and "end_step" are
both set to 1 to make the error occur faster.

-Steven

On Mon, Jul 30, 2018 at 12:42 PM guj <notifications@github.com> wrote:

[2018-07-30 19:17] JasonRuonanWang opened #759 "Callback operator is not added to m_IO after calling AddOperation"

[2018-07-30 19:25] pnorbert opened #760 "Rename BPFile* engine to BP3File* engine"
BP4 engine is coming, so let's keep "BPFile" as a name for the default engine (BP3 now, BP4 later) without any change for the users.

Then IO.cpp should look like this when opening an engine:
[code]

Later we can change to BP4 engine when BPFile with Read mode is selected, when BP4 can read both old and new data format. And finally, we can change to BP4 engine when BPFile with Write mode is select

[2018-07-30 19:36] pnorbert commented on #757
I think the problem is with creating attributes that
- have a path
- do not belong to a variable

E.g. /adios2_schema/version_major

Is it possible to create a global attribute that has a full path as a name?

[2018-07-30 19:37] stevenwalton commented on #757
The section that @pnorbert is referencing is here https://github.com/stevenwalton/ascent/blob/develop/src/ascent/runtimes/flow_filters/ascent_runtime_adios2_filters.cpp#L669

[2018-07-30 19:42] guj commented on #757
below is my example, it creates the same attribute names as Steve had in his code

#include <ios>      //std::ios_base::failure
#include <iostream> //std::cout
#include <mpi.h>
#include <stdexcept> //std::invalid_argument std::exception
#include <vector>

#include <adios2.h>

int main(int argc, char *argv[])
{
    MPI_Init(&argc, &argv);
    int rank, size;
    MPI_Comm_rank(MPI_COMM_WORLD, &rank)

[2018-07-30 20:10] pnorbert commented on #757
The problem in Steven's code is that he does not call Close(). So HDF5
engine's close will be called in the deconstructor, and it happens after
MPI_Finalize(). If you call MPI_Finalize in your example before the
hdfwriter.Close() -- or just remove the Close() call --, you will get the
same errors.

The problem is that attributes are written at Close time, not at EndStep
time, like with BPFile. Can

[2018-07-30 20:27] #759 closed

[2018-07-30 21:41] guj commented on #757
Norbert,
I skipped the Close() call,  file was written successfully.

Steve,
would you call Close to your writer, just to see if that made a difference.

[2018-07-30 21:56] pnorbert commented on #757
You were just lucky that the engine was destroyed before the MPI_Finalize()
call but this is not guaranteed. You can see what's happening if you add
MPI_Finalize() before hdf5writer.Close().

I am not sure if we actually support omitting the Close() call in the API.
It's just that Steve cannot call that from anywhere in his application. But
since his approach works in BPFile and SST, why not try t

[2018-07-30 23:16] guj commented on #757
Not really b/c of luck. My io was inside { } and MPI_Finalize() is outside.

Can Steve close writer at WriterManager::~WriterManager()?

[2018-07-30 23:45] stevenwalton commented on #757
I am not able to close my writer in that destruction, unfortunately. I have to hack around how Ascent is working.

I were able to reproduce the error in the OP by placing Close after MPI_Finalize. I didn't do this on the code you provided, but it was very similar. I could get the error with or without {Begin,End}Step(). It just required that Close happens after MPI_Finalize

[2018-07-31 01:11] guj commented on #757
Instead of Close(), maybe you can call flush()? It will make sure all the data/metadata are written.
And I will let attributes save to h5 files when this function is called.

[2018-07-31 12:45] williamfgc commented on #705
Closing this since SZ support is now in master.

[2018-07-31 12:45] #705 closed

[2018-07-31 12:45] williamfgc commented on #561
Closing this.

[2018-07-31 12:45] #561 closed

[2018-07-31 12:47] williamfgc commented on #335
Closing this as this is supported at user API level by bpfile in sync and deferred modes in master.

[2018-07-31 12:47] #335 closed

[2018-07-31 18:16] stevenwalton commented on #757
A `Flush` in the writer's destructor causes bpfile to give me this error
[code]
Which it looks like a similar problem of calling `Close` after `MPI_Finalize`. So while that might (?) fix the problem for HDF5 it would break usage with other engines?

Is it not possible to write the attributes at `EndStep`? From what I know, this is where the other engines are writing, which is why I am not having t

[2018-07-31 18:36] pnorbert commented on #757
Call Flush right after EndStep, every step, not from the deconstructor

[2018-07-31 18:44] stevenwalton commented on #757
Okay that seems to work with BPFiles. I haven't tested with the other engines but I will be able to later. So looks like that would be an acceptable place to enable that for HDF5.

[2018-07-31 18:59] stevenwalton commented on #757
SST and Dataman don't implement `Flush`.

[2018-08-01 01:11] JasonRuonanWang commented on #757
Added Flush() into SST in #762 . It should work once @eisenhauer approves and merges it.

[2018-08-01 02:40] JasonRuonanWang commented on #757
Added Flush() into DataMan in #763 .

[2018-08-01 04:29] guj commented on #757
Steve, please try Flush() in hdf5 calls too. Thanks.

[2018-08-01 04:30] guj commented on #757
Forgot to mention, please check in code first.

[2018-08-02 06:14] JasonRuonanWang opened #768 "ClipContiguousMemory bug for compressed data"
The ClipContiguousMemory function does not seem to do the correct thing for compressed data.

For example, I write a variable for shape = {5,5}, start = {0,0}, count = {5,5}, which is

0.00  0.01  0.02  0.03  0.04
0.05  0.06  0.07  0.08  0.09
0.10  0.11  0.12  0.13  0.14
0.15  0.16  0.17  0.18  0.19
0.20  0.21  0.22  0.23  0.24

And I read for start = {1, 1}, and count = {2,2} on the reader side.

[2018-08-02 06:16] JasonRuonanWang commented on #768
It seems that when an operator is added, the ClipContiguousMemory function always copies data from the first element of the input BP buffer. It misses an offset.

[2018-08-02 13:12] stevenwalton commented on #757
@guj seems like everything is working like it should. I'm going to close this topic.

As an aside, if the extensions ".h5" is not provided then the file does not write with it. I'll ask it as a feature request but I feel like it isn't a high enough priority to open a new topic for since it is only a slight convenience thing.

[2018-08-02 13:12] #757 closed

[2018-08-02 13:41] eisenhauer commented on #740
I'm going to close this issue because the proposed resolution is an enhancement of the API to provide a different interface to read data, not a modification to SST or other engines.  I'd suggest submitting another issue if we want to go forward with this.

[2018-08-02 13:41] #740 closed

[2018-08-02 13:42] eisenhauer commented on #576
Closing, as this has been supported (and tested) since mid-June.

[2018-08-02 13:42] #576 closed

[2018-08-02 13:44] eisenhauer commented on #571
@suchyta1, can you try this again and see if the SST Fortran support has fixed this problem?

[2018-08-02 13:46] suchyta1 commented on #571
Sure. Will do.

On Thu, Aug 2, 2018 at 9:45 AM Greg Eisenhauer <notifications@github.com>
wrote:

--
Eric Suchyta
Oak Ridge National Laboratory
Scientific Data Group
Building 4100, C234
(865) 576-6340
https://suchyta1.github.io/

[2018-08-02 16:00] williamfgc commented on #768
Thanks @JasonRuonanWang I am missing the extra clipping from the block start to the intersection start.

[2018-08-02 16:43] stevenwalton opened #769 "DataMan AvailableVariables returning only 1"
@JasonRuonanWang I am trying to return multiple variables using the `AvailableVariables` function. This works with SST and I am just changing the code to run DataMan. An example code is shown below.
[code]

It also does not seem to be grabbing the name of the variable, but I get a correct size for the first one.

[2018-08-02 17:34] swatisgupta opened #770 "'adios2-config --libs' displays incorrect list of libraries"
Result of "adios2_config --libs" is
{ADIOS_INSTALL_DIR}/lib -ladios2 -L/usr/lib64 **-ldataman** -lbz2

The correct output should be
{ADIOS_INSTALL_DIR}/lib -ladios2 -L/usr/lib64 -lbz2

If SST is enabled it should be
{ADIOS_INSTALL_DIR}/lib -ladios2 -L/usr/lib64 -lbz2 -ladios2_sst -ladios2_evpath -ladios2_enet -ladios2_dill -ladios2_ffs -ladios2_dill  -ladios2_atl

[2018-08-02 20:36] williamfgc commented on #770
@eisenhauer @chuckatkins can you document how to link with the sst external dependencies?  I still don't understand the added complexity to the developer.

[2018-08-03 12:00] #768 closed

[2018-08-06 18:07] keichi opened #778 "Heat transfer example crashes with SST on Titan"
Hi, I'm having trouble running the heat transfer example with SST engine on Titan. The example crashes after a dozens of timesteps. I'm using the current master of ADIOS2 (237f1be25b65035a1f1b5944b276461befd624c9).

Command

[code]

Config XML file (same as `examples/heatTransfer/heat_sst_ffs.xml`)

[code]

stdout
https://gist.github.com/keichi/73e4974403cd3f2dc5f4f8f3e0c4e1b9

stderr (SstVerbose=

[2018-08-06 18:10] williamfgc opened #779 "adios2 not writing reading zero size blocks"
This is affecting reading XGC generated data

[2018-08-06 18:17] williamfgc opened #781 "add mgard support under adios2 thirdparty"
@chuckatkins this is just to formalize mgard support inside adios2. Thanks!

[2018-08-06 18:19] williamfgc commented on #778
Might be related to #710

[2018-08-06 19:27] #779 closed

[2018-08-06 19:34] #333 closed

[2018-08-06 19:53] JasonRuonanWang commented on #769
#783
I have merged the changes into master. Could you try and let me know? @stevenwalton

[2018-08-06 21:16] stevenwalton commented on #769
I get all variables now. Looks like it is also properly doing the BeginStep and EndStep like we talked about.

[2018-08-06 21:16] #769 closed

[2018-08-07 03:04] JasonRuonanWang opened #785 "Request complex types"
The SKA software will not work until complex types are supported. The following is a list of all the types needed. Thanks!

void Adios2StManColumn::putBoolV(uInt rownr, const Bool* dataPtr){
    putV(rownr, dataPtr);
}
void Adios2StManColumn::putCharV (uInt rownr, const Char* dataPtr){
    putV(rownr, dataPtr);
}
void Adios2StManColumn::putuCharV (uInt rownr, const uChar* dataPtr){
    putV(rownr,

[2018-08-07 03:05] JasonRuonanWang commented on #785
Complex = std::complex<float>
DComplex = std::complex<double>

[2018-08-08 16:04] #760 closed

[2018-08-08 16:05] williamfgc commented on #719
Moving this to #785

[2018-08-08 16:05] #719 closed

[2018-08-09 14:32] eisenhauer commented on #743
Would you please test this with the current master.  I believe that the situation may be improved:
bash-3.2$ otool -L ~/lib/libadios2_sst.dylib
/Users/eisen/lib/libadios2_sst.dylib:
	@rpath/libadios2_sst.2.dylib (compatibility version 2.0.0, current version 2.2.0)
	@rpath/libadios2_evpath.dylib (compatibility version 0.0.0, current version 0.0.0)
	@rpath/libadios2_ffs.1.dylib (compatibility versio

[2018-08-09 16:01] BarrySmith commented on #743
The fix resolved the problem for me. Thanks

[2018-08-09 16:01] #743 closed

[2018-08-10 13:59] keichi opened #791 "Inconsistency between the documentation and implemetation for ON/OFF option"
I found a minor inconsistency between the documentation and implementation.

The [documentation](https://adios2-adaptable-io-system-version-2.readthedocs.io/en/latest/engines/engines.html#bpfile) for the BPFile engine says string `ON` or `OFF` should be used to enable/disable Profile or CollectiveMetadata.

However, the implementation does not accept uppercase `ON`/`OFF`, but only lowercase `on`/`

[2018-08-10 14:03] williamfgc commented on #791
Thanks @keichi , I am working on updating the docs right now.

[2018-08-10 14:28] pnorbert commented on #791
This should not be fixed in the documentation. We need all options in all adios be processed case-insensitive. Do we have a helper function to return a lower case string of a string that can be used everywhere? I think I just used std::transform myself in every place.

[2018-08-10 17:41] eisenhauer commented on #741
This is fixed again.

[2018-08-10 17:41] #741 closed

[2018-08-14 17:12] stevenwalton opened #794 "Zeros in multiple time steps when no Close is called and Flush is (BPFIle)"
Working with the Ascent program I am unable to call `adiosWriter.Close()` and a few issues have been brought up because of this case. I have found that when writing to BPFiles that the first time step correctly writes, but each subsequent `BeginStep()/EndStep()` pair is called that the data does not get written.

This currently does not affect SST or DataMan and #757 fixed the issues for HDF5.

Wh

[2018-08-14 17:42] stevenwalton commented on #794
I have tried to replicate the issue in a simple 1D case and can reproduce the behavior. I used similar vector sizes to that in Ascent (274625, or 65^3)
[code]
The interesting thing is the `Flush()` **MUST** exist for the code to reproduce. And that would explain why I didn't have this issue before. It must have popped up after I implemented the fix with #757 .

[2018-08-14 18:33] guj opened #795 "Attributes associating with a variable"
This ticket is opened as William's request.

This is the HDF way:
1) create attr:
    input: parent_id, attrname
2) write attr
3) open attr
4) delete attr
5) find attr (input object_id)
Note:
(relative path can be used but it has to lead to an *existing* object. same as "ls path" on unix)

For ADIOS,  in order to support var & attribute association,  we need to:
a) assign association
b) retreive a

[2018-08-15 00:37] #785 closed

[2018-08-20 14:41] stevenwalton opened #804 "DataMan transport identification by hostname"
Working on the super computers we don't have a static IP address which we can use to receive data when using DataMan. For example, if I log into Rhea I will be placed onto a node with address x.x.x.x. As I run the simulation my address will change to y.y.y.y and then later to z.z.z.z. They do load balancing by a round-robin method.

I think in many cases it would be much easier to provide a hostna

[2018-08-20 15:09] JasonRuonanWang commented on #804
I guess ZeroMQ will only take those host names that are in DNS, but not the ones in local host files. To adjust to this kind of dynamic IP address allocation scenarios I need to change a lot of things and do a lot of testing, which I don't think I can finish in a few days. Ideally in this kind of environments you may want to use RDMA based transports instead of TCP based ones. This is also the poi

[2018-08-20 19:43] williamfgc opened #805 "Cannot link ADIOS2 through CMake"
@chuckatkins I have a cmake project that is trying to link with ADIOS2 after a normal `make install`

This is a Fortran90 project for which I have in CMakeLists.txt:
[code]
But I get the following error when running :
`cmake -DADIOS2_ROOT=/opt/adios2/ ..`

[code]
The ADIOS2Config.cmake file exists under `adios2/lib/cmake`

[2018-08-20 19:44] williamfgc commented on #805
Also, is it ADIOS2_DIR or ADIOS2_ROOT? Either one will give the same error.

[2018-08-20 20:02] stevenwalton opened #806 "DataMan Bidirectional IP Address Assignment"
Currently DataMan only takes in the IP Address of the reader, or where the data is being sent to. It would be helpful for the other direction to be possible to. That readers could get the data by only knowing where the writer is.

Here's an example of where this would be useful:

I am trying to send data from one cluster to another cluster. A more straightforward way to do this would have a reader

[2018-08-21 12:13] williamfgc commented on #805
I am able to reproduce with the ADIOS2-Examples repo

[2018-08-21 19:39] stevenwalton opened #810 "SST Errors With Scaling"
I've been trying to test my Ascent code (an ECP project) on Rhea and been finding some interesting results. When I was trying to start "small" and set my number of writer processors to 64 and noticed that I wouldn't always get results back and the SST readers would crash.

So I started small and worked my way up. I would submit only the writer job and I had two different readers that I would speci

[2018-08-22 07:36] jychoi-hpc opened #813 "heat2d with SST hangs on Titan as it scales"
I am trying to run heat2d with SST on Titan. With a small number of processes (say, 4 heat2d processes and 4 analysis processes), it works.

However, with an increased setting (64 head2d and 64 analysis), it hangs. Here is my aprun command:
[code]

I think this problem is related with my previous problem (a variant of heat2d in which not all processes writes, available on Titan: /lustre/atlas2/csc

[2018-08-22 13:28] suchyta1 opened #814 "Build error on Summit"
I'm trying to build the master branch on Summit with the GNU compilers and getting a build error when I do so. I've attached the build log.
[summit-build.log](https://github.com/ornladios/ADIOS2/files/2310468/summit-build.log)

[2018-08-22 13:51] keichi commented on #791
@williamfgc I've built the current master and confirmed it is fixed now. Thanks!

[2018-08-22 13:53] #791 closed

[2018-08-22 13:57] keichi commented on #813
This might be the same problem I'm having (#778).

[2018-08-22 15:10] suchyta1 commented on #814
Versions 2.1.0 and 2.2.0 build OK though.

[2018-08-22 17:03] pnorbert commented on #814
Does cmake have a check for complex long doubles? Then we could solve this problem at compile time. Otherwise we need to remove this type.

[2018-08-22 18:17] chuckatkins commented on #814
The build is failing with an internal compiler error, which means a compiler bug is hit, not adios.  That being said, we might be able to work around it.  Wrt  long double though, i'd vote to remove it entirely since it's a nonstandard inconsistent type.  Float and double are 32 and 64 bit floating point values respectively.  Long double though is often 96 bit, sometimes 128bit, etc.  That's proba

[2018-08-22 18:37] williamfgc commented on #814
https://gcc.gnu.org/wiki/Ieee128PowerPC there is a flag to enable long double on GCC for PowerPC. Not sure if it will solve the issue on Summit

[2018-08-22 19:38] stevenwalton commented on #810
Update: I tried running on Rhea with 64 processors and using the BP marshaling method, instead of FFS. I get the same problem, where the readers hang.

I have even tried to set a short timeout, such as:
[code]

[2018-08-22 20:05] eisenhauer commented on #810
None of those things (marshaling or timeout) are likely to influence a problem with hanging.  The marshaling method only impacts the format of the data that is exchanged, not the control system that manages its exchange.  And SST does not attempt to implement a timeout now.  (In general timeouts like the one proposed for BeginStep are problematic.  The issue is if a timestep arrives near the end o

[2018-08-23 03:59] stevenwalton commented on #810
@JasonRuonanWang I just tested DataMan with one write processor on Rhea and found that I got my file writing out from the last time step.

Mark had suggested that maybe some of the blocks contain no data within them and that might be causing a problem, since it appears to be both SST and DataMan. I can test this tomorrow if you and @eisenhauer think this might be an issue.

[2018-08-23 04:06] JasonRuonanWang commented on #810
Even if there is any blocks containing no data, as long as you allocated the buffer and use this valid buffer to call the Put() function, there should be still either zeros or NANs or randoms numbers. I don't think this will cause any real problems.

We can test tomorrow.

[2018-08-23 12:39] williamfgc commented on #622
Actually "long long int" and "long int"  is indeed a property of the OS or platform. It's sufficient to read the documentation alignment https://software.intel.com/en-us/articles/size-of-long-integer-type-on-different-architecture-and-os. Compilers adapt to the platform requirements. OSX and Windows have long consider long int = int 32-bit integers, long long int is for 64-bit integers. On Linux l

[2018-08-23 12:39] #622 closed

[2018-08-23 16:39] suchyta1 commented on #814
Thanks, I'll try it out.

On Thu, Aug 23, 2018, 11:34 William F Godoy <notifications@github.com>
wrote:

[2018-08-23 18:50] pnorbert commented on #622
Why do we close tickets that are bugs and are not solved yet?

[2018-08-27 18:34] pnorbert opened #821 "bpls2 + Global Value over many steps: min/max incorrect"
Global (one per application) value written every step: the min and max is undetermined, or equals to the value in the first step. It should be calculated from the values across the steps when reading from a file.
See variable __Step__ from example __values_write__:

[code]

The min/max should be 0/5 in this example.

[2018-08-27 18:39] pnorbert opened #822 "Local values: should be presented in reading as a 1D array"
Local values (scalar written by each process) should be presented as a 1D array of _nproc_ elements. Right now it just shows up as a single scalar like a Global value.

[code]

It should be reported as:
[code]

[2018-08-27 21:16] kshitij-v-mehta opened #823 "Build error with Intel on Titan"
Getting a compilation error on Titan when using Intel. Using HEAD with latest commit  `ab1a2e45dda32235158e67091ee37b40cb27ad84` (August 9)

Loaded modules:
[code]

Cmake build command:
[code]

Running `make` gives

[code]

[2018-08-28 13:48] williamfgc commented on #823
@chuckatkins sounds like a problem with pybind11

[2018-08-28 19:11] williamfgc opened #825 "Add error flags to C bindings"
`adios2_adios *adios2_init_config(const char *config_file, MPI_Comm mpi_comm, const adios2_debug_mode debug_mode)`

replace with:
`int adios2_init_config(adios2_adios* adios, const char *config_file, MPI_Comm mpi_comm, const adios2_debug_mode debug_mode)`

To basically capture the C++11 library exceptions

[2018-08-28 19:21] keichi opened #826 "Build error on Rhea"
I'm getting link errors when trying to build ADIOS2 on Rhea.

Error message:
[code]

CMake command:
[code]
(CC and CXX are set because `module load PE-gnu` does not update these variables on Rhea)

CMake output:
[code]

Loaded modules:
[code]

[2018-08-28 19:34] williamfgc commented on #826
@keichi Looks like is linking against the wrong libstdc++  (or stdc++) for the adios2 dependency. Try using -DBUILD_SHARED_LIBS=OFF for static linking, which is the preferred method anyways.

[2018-08-28 20:05] keichi commented on #826
@williamfgc  Problem solved once I have added `-DBUILD_SHARED_LIBS=OFF`. Thanks!

[2018-08-28 20:05] #826 closed

[2018-08-29 00:50] williamfgc opened #827 "DataMan test hanging on Mac"
Failure related to `MPI_Init_thread required Mode 3 and provided Mode 2`
see below:
[code]

[2018-08-29 00:54] JasonRuonanWang commented on #827
This is because the MPI build does not support threads. I can fix it by checking if MPI thread is available and decide whether to run this test accordingly.

[2018-08-29 13:41] williamfgc commented on #827
@JasonRuonanWang yes please, it will help working on a Mac and won't issue a false positive. You could always change to a pipeline workflow style (one after the other, independently), check the heat transfer tests.

[2018-08-30 11:19] eisenhauer opened #829 "Occasional failure of SstKillReaders test."
Creating this issue as a way to let everyone know this is being worked on.  The SstKillReaders test starts a long-running writer (server) application and then spawns and kills readers over a span of time.  At the end, we shut down the writer normally and expect any remaining readers to shut down normally.  It appears that sometimes there is a timing problem that prevents a reader from getting prop

[2018-08-30 14:26] #827 closed

[2018-08-30 15:28] JasonRuonanWang commented on #827
@williamfgc That's good to know. Does it assure testWriter and testReader run at the same time? Or it just says that testReader can only be launched after testWriter runs or finishes?

[2018-08-30 16:14] pnorbert opened #832 "AllStepsBlocksInfo + Fortran: dimension order mismatch"
The blocks returned have the dimensions in the order of the source data (e.g. Fortran), not in the order the reader expects (e.g. bpls2 as C++). Therefore bpls -D is incorrect for Fortran app output and bpls -Dd results in out of boundary read requests.

[code]

The Fortran global array is (4*4) by (3*5), which is listed in C/C++ readers as 15,16. The blocks, however, keep their original Fortran o

[2018-08-30 17:37] williamfgc commented on #827
@JasonRuonanWang not sure, but you can try exploring std::thread::detach for your writer

[2018-08-30 19:16] pnorbert opened #833 "DataMan read decomposition error"
E.g. Writer 4x3, Reader 3x1 pattern leads to zeros in data. If the decomposition of the reader does not match the writer's, some data is not read in from the writer.
Example is adiosvm/heat2d/cpp

[code]

[code]

[code]

[2018-08-31 20:05] pnorbert commented on #832
The example works for me now. Thanks.

[2018-08-31 20:05] #832 closed

[2018-09-04 18:29] lwan86 opened #835 "an MPI error occurs when testing the "heatTransfer write" example using MPI aggregate method"
This is MPI error:
"*** The MPI_Comm_free() function was called after MPI_FINALIZE was invoked.
*** This is disallowed by the MPI standard."

It seems that "MPI_Comm_free(&m_Comm)" function is called in the destructor of "MPIAggregator" class, which is called after the "MPI_Finalize()" at the end of the main function of the "heatTransfer write" example.

[2018-09-04 20:06] williamfgc commented on #835
yeah, it's not being called. Which system and mpi implementation are you using?

[2018-09-04 20:11] lwan86 commented on #835
I tested it on both my mac laptop and ubuntu vm. The MPI implementation I'm using is Open MPI (version 1.10.2 on my mac and 2.1.1 on the vm).

[2018-09-04 20:16] keichi opened #836 "Memory leak when using SST with FFS marshaling"
When I run the heat transfer example with SST engine and FFS marshaling, the reader is terminated by the OOM killer after a few hundred timesteps. If I use BP marshaling, there is no memory leak, and the workflow can run for thousands of timesteps.

I did some memory debugging with DDT, and it seems that the memory allocated in `IssueReadRequests()` is not freed.

https://github.com/ornladios/ADIO

[2018-09-05 02:06] eisenhauer commented on #836
Please check with current master branch.  I've merged a fix...

[2018-09-05 14:56] keichi commented on #836
@eisenhauer I confirmed the memory leak is fixed on current master. Thanks!

[2018-09-05 14:59] keichi commented on #836
You might want to remove this printf or use `CP_verbose()` instead?

https://github.com/ornladios/ADIOS2/blob/4580d9d0a1951fd49e279197c4d29e6821581674/source/adios2/toolkit/sst/cp/ffs_marshal.c#L344

[2018-09-05 15:42] eisenhauer commented on #836
Whoops!  Part of the problem was that there was a global free routine not being called.  That bit of debugging info slipped through.  I’ll do another PR to kill it.

[2018-09-05 20:29] keichi commented on #836
Thanks, closing this issue now.

[2018-09-05 20:29] #836 closed

[2018-09-06 17:44] williamfgc commented on #835
@lwan86 can you verify that the current master works after rebasing onto your branch?

[2018-09-06 18:10] lwan86 commented on #835
@williamfgc I just tested the current master, the same error still occurs.  Here is the configuration I used.

<?xml version="1.0"?>

<adios-config>

    <io name="writer">
        <engine type="BPFile">

            <parameter key="Threads" value="1"/>

            <parameter key="ProfileUnits" value="Microseconds"/>

            <parameter key="InitialBufferSize" value="16Kb"/>

            <par

[2018-09-06 21:31] williamfgc commented on #835
My bad, that was for N-to-N. Now the aggregator comm is actually freed. Good catch! The current master should work.

[2018-09-07 14:44] pnorbert opened #842 "Brusselator SST performance issue"
Analysis code using SST is much slower with this example than to read from files. Same issue on VM and on Titan.

[code]
[code]

Titan, with 256^3, 100 steps, 64 writers + 64 readers:
File based: a few minutes
SST based: does not finish within an hour. Also steps are slowing down visibly.

[2018-09-07 15:28] keichi commented on #842
Profiling results on Titan

![screen shot 2018-09-07 at 11 28 15](https://user-images.githubusercontent.com/791283/45228435-296fe080-b291-11e8-82e2-ab6975acd54e.png)

[2018-09-09 18:29] suchyta1 opened #845 "adios2_at_io() bug?"
Maybe my understanding of what the subroutine does is wrong, but I think there's a bug in adios2_at_io(). Here's the code I'm running.

[code]

And here's the output I get:
[code]

[2018-09-10 13:10] williamfgc commented on #845
@suchyta1 Hi Eric, please check the current master. Thanks for catching the bug.

[2018-09-10 16:04] suchyta1 commented on #845
Thanks. It is indeed working now.

On Mon, Sep 10, 2018 at 9:19 AM Eric Suchyta <eric.d.suchyta@gmail.com>
wrote:

--
Eric Suchyta
Oak Ridge National Laboratory
Scientific Data Group
Building 4100, C234
(865) 576-6340
https://suchyta1.github.io/

[2018-09-10 18:07] suchyta1 commented on #814
Sorry for the delay, but yes, this fix worked for me.

[2018-09-10 18:08] suchyta1 commented on #691
I was way behind following up on these issue, but I'm no longer seeing this one either.

[2018-09-10 18:37] eisenhauer commented on #691
Cool.  Closing then.

[2018-09-10 18:37] #691 closed

[2018-09-10 18:48] suchyta1 commented on #571
@pnorbert and Scott Klasky have been much more in tune with using the Python plotting that I initially developed. I believe that it's working now, and if that's indeed the case this should be ready to close too.

[2018-09-10 18:49] suchyta1 commented on #573
Again, I got way back logged on checking these, but yes it seems good.

[2018-09-11 00:15] williamfgc commented on #845
@suchyta1 great! Thanks!

[2018-09-11 00:15] #845 closed

[2018-09-11 19:39] williamfgc commented on #805
@fbudin69500 we typically use *_ROOT for the top installation directory, not when *Config.cmake is under *_ROOT/lib/*. Also, please try with all the supported dependencies, example:
[code]

[2018-09-11 22:47] khuck opened #847 "bug in adios2-config"
The --cxxflags section of the generated adios2-config has this:

[code]

...but (I think) should be:

[code]

[2018-09-12 13:42] williamfgc commented on #847
@chuckatkins can you take a look. @khuck Thanks!

[2018-09-12 13:45] fbudin69500 commented on #805
Beside the fact that `ADIOS2-Examples`, or more specifically `ADIOS2-Examples/cpp/heat` did not want to build correctly, I was able to **configure** the project on my machine with CMake 3.10.2 when using `ADIOS2_DIR`. To be able to configure the example project using `ADIOS2_ROOT`, but only with the latest version of CMake 3.12.2. It may work with other versions that are a little bit older, but fa

[2018-09-12 13:59] williamfgc commented on #805
@fbudin69500 are all optional dependencies turned on? Can you share the code so we can follow?

[2018-09-12 14:05] williamfgc commented on #805
It matters, in fact is the most important feature. Being able to link any version of adios2 (with any dependency) needed by the user for its cmake project.

[2018-09-12 15:30] chuckatkins commented on #805
PackageName_ROOT and PackageName_DIR have different meanings.  _ROOT is builtin to CMake 3.12 for find modules while < 3.12 used custom logic in find modules to use it.  _DIR, on the other hand, is used by CMake to directly consume a PackageNameConfig.cmake file.  I'm abe to configure the ADIOS2-Examples repo via:
[code]

[2018-09-13 15:10] pnorbert commented on #805
How does this work for static builds? I can reproduce your successful configuration with a shared build on my VM, but not on Titan with a static build. ADIOS is found, but not its dependencies. I am using the latest version of cmake on Titan, 3.9.0. First, it does not find HDF5:

[code]

If I have HDF5_DIR set (module load cray-hdf5-parallel), it finds HDF5, but not EVPath:

[code]

Note that EVPa

[2018-09-13 16:47] pnorbert commented on #805
Hoping to move on with my task to do, I built a shared lib of adios without mpi and any other dependencies. Unfortunately, the installed ADIOS2Config.cmake is invalid and thus I cannot use this shared install either.

[code]

[code]

[code]

[2018-09-17 13:15] suchyta1 opened #851 "InSituMPI floating-point exception"
I'm trying to use InSituMPI for code coupling, but getting an error at adios2_open(). Basically the I/O I'm trying to define and open looks like this. (Apologies if if I'm missing some arguments, but this is being done through the ECP-WDM framework so I'm translating into something that makes sense for you.):

[code]

And I get an error at the open() with this traceback.

[code]

[2018-09-17 13:50] pnorbert commented on #851
Are you running one app in this test, or both? InSituMPI does not work with 0 peers.

[2018-09-18 11:32] suchyta1 commented on #851
Ok, so now on Titan I called it like:
```wraprun -N 16 -n 64 --w-cd XGC/ ./xgc-es : -N 1 -n 1 --w-cd GENE/ ./gene_$machine```

But I get what I think is the same error. So maybe I'm still doing something wrong. Based on the docs pages from OLCF it's also not clear if wraprun actually uses MPMD mode, or if it's just a way to group together multiple MPI programs at ones. I'll try somewhere else...
[

[2018-09-18 12:06] pnorbert commented on #851
Just try aprun.

On Tue, Sep 18, 2018 at 7:33 AM Eric Suchyta <notifications@github.com>
wrote:

[2018-09-18 12:09] suchyta1 commented on #851
I did try that, but I can't find an option to set the working
directory for each code. And unfortunately at the moment both GENE and
and XGC require input files of the same name, with different contents
in the file, so I can't just run from the same directory as is. I can
remove the name collision, and probably should anyway.

On 9/18/18, pnorbert <notifications@github.com> wrote:

--
Eric Suchyta

[2018-09-18 13:47] suchyta1 commented on #851
The test is proving challenging at OLCF. One either Rhea or Titan, when I try to use the launchers themselves instead of wraprun, it's taking forever for the combined call to load and start. I'll see if the same thing happens on Theta.

[2018-09-18 13:54] dpugmire opened #855 "GTC set selection is backwards"
but in set selection.
Trying to read in C++ from the GTC output (which is done in fortran)

DIMS: [32 3 38315]
terminate called after throwing an instance of 'std::invalid_argument'
  what():  ERROR: selection Start Dims(3):[0, 0, 0] and Count Dims(3):[1, 1, 500] (requested) is out of bounds of available Shape Dims(3):[38315, 3, 32] , when reading variable coordinates, in call to Get

[2018-09-18 16:01] tneuroth opened #856 "Setting engine to SST results in an xgc variable "time" changing types from double to float"
Setting the engine to SST results in an xgc variable "time" changing type from double to float. Then when trying to read it there is a crash,

munmap_chunk(): invalid pointer: 0x00002aab3ea503ad ***

[2018-09-18 16:11] suchyta1 commented on #851
I don't know, same issue on Theta. I'll have to ask around about what's going on.

[2018-09-18 17:12] pnorbert commented on #856
Notes:
- This is the xgc.particles.bp output of XGC.
- "time"is a double scalar written only by rank 0. It is defined on every processor though in the IO object.
- Fortran writer, C++ reader
- io.VariableType("time") returns a string saying it is a float variable
- io.InquireVariable<float>("time) returns successfully
- engine.Get() will crash

[2018-09-18 19:49] pnorbert opened #859 "Support for LastAvailable step mode in SST"
This is needed for WDM coupling use case

[2018-09-18 19:50] pnorbert opened #860 "Support for LastAvailable step mode in DataMan"
This is needed for WDM coupling use case.

[2018-09-18 19:52] pnorbert opened #861 "Support for Timeout in BeginStep in SST"
This is needed to support the WDM coupling use case: the faster progressing code needs non-blocking read.

[2018-09-18 20:05] keichi opened #862 "InSituMPI writer ignores FixedSchedule parameter"
When using the In-situ MPI engine, the writer sends the metadata even if `FixedSchedule` is true.

I noticed `FixedSchedule` is checked in `void InSituMPIReader::InitParameters()`, but not in
 `void InSituMPIWriter::InitParameters()`.

[2018-09-18 20:31] pnorbert commented on #862
You need to call engine.FixedSchedule() on both sides. If the read pattern
changes, or the write layout changes, metadata is going to be exchanged at
every step.
And I don't think we have this function in the Fortran API, so...

On Tue, Sep 18, 2018 at 4:05 PM Keichi Takahashi <notifications@github.com>
wrote:

[2018-09-18 20:36] williamfgc commented on #862
To do:
1) Remove it as a runtime parameter in XML InsituMPI reader
2) Add Fortran API call

[2018-09-18 21:38] keichi commented on #862
As a minor side note, we should update `examples/hello/insituMPI/hello_insitu.xml` too.

[2018-09-19 17:08] pnorbert opened #867 "C API fix: adios_init()"
Since non-MPI codes don't work with an MPI build of ADIOS, and vice versa, we can unify the adios_init* functions. Let's have adios_init() and adios_init_config() only, which has an extra MPI communicator argument when built with MPI.

This follows how the Fortran API is done.

[2018-09-19 22:46] williamfgc commented on #855
@dpugmire thanks for confirming this works now, I just modified a couple of tests to get the 2D and 3D Fortran writer and C++ reader on the same page. Thanks!

[2018-09-19 22:46] #855 closed

[2018-09-20 16:20] suchyta1 commented on #851
I think this is being caused by the MPI structure of GENE and XGC. Scott had suggested that InSituMPI would handle things like the splitting of communicators, but I don't think that can be the case. I indeed see that you set a color in the heat 2D example to split `world_comm` in simulation and analysis. Something is probably blocking when the two applications share `comm_world` for me.

[2018-09-20 16:29] pnorbert commented on #851
You don't pass comm world to adios init in either code, do you?

On Thu, Sep 20, 2018, 12:21 PM Eric Suchyta <notifications@github.com>
wrote:

[2018-09-20 16:32] suchyta1 commented on #851
Not explicitly, but I'm guessing some of them are just comm_dup() of it.
I'd have to look in detail. The MPI structure isn't super straightforward
and I don't remember all the details without reading the code more.

On Thu, Sep 20, 2018 at 12:29 PM pnorbert <notifications@github.com> wrote:

--
Eric Suchyta
Oak Ridge National Laboratory
Scientific Data Group
Building 4100, C234
(865) 576-6340
http

[2018-09-21 17:55] keichi opened #871 "Move Engine::FixedSchedule() to IO and change its name to LockDefinitions()"
@pnorbert @williamfgc as we discussed today.

[2018-09-21 17:56] keichi commented on #862
Closing issue as we will work on this in #871

[2018-09-21 17:56] #862 closed

[2018-09-24 17:40] williamfgc commented on #795
@guj @pnorbert @jychoi-hpc added check for variable existence and default "/" separator in Fortran.

[2018-09-25 01:27] eisenhauer commented on #856
I'm hopeful that this is now fixed.  Please try with current master.

[2018-09-26 18:19] williamfgc opened #879 "Remove C++98 bindings"
Move to C bindings for pre-C++11 code

[2018-09-26 19:18] #860 closed

[2018-09-27 00:41] williamfgc opened #880 "DataMan P2P test fails on Mac"
[code]

[2018-09-27 01:17] #879 closed

[2018-09-27 01:19] williamfgc commented on #725
I put a workaround using cmake and getting the physical cores info. Heat transfer only runs if 4 physical cores (not 2) are available.  --oversubscribe killed our nightlies using mpich. Please check!

[2018-09-27 02:10] JasonRuonanWang commented on #880
@williamfgc I cannot reproduce it. I tested it on two Macs that I have at home. One is using Clang 10.0.0, and the other is using Clang 9.1.0. Both passed.

[2018-09-27 06:29] williamfgc commented on #880
@JasonRuonanWang yes, I don't se it anywhere else
[code]
[code]

@lwan86 is this what you saw on your Mac? what compiler/mpirun versions do you have?

[2018-09-27 12:17] lwan86 commented on #880
Yes, I saw this last week. I thought this had been fixed already.
Here are my compiler/mpirun versions.

clang --version
Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin15.6.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

mpirun --version
mpirun (Open MPI) 3.1.2

[2018-09-27 14:59] keichi commented on #725
@williamfgc Thanks, the tests pass indeed, but I still would like to run the heat transfer tests.

I found that setting the `OMPI_MCA_rmaps_base_oversubscribe` environment variable to `1` results in the same behavior as using the `--oversubscribe` flag. This is non-intrusive and should work with MPICH. How about this?

[2018-09-28 13:51] pnorbert opened #895 "String array attribute leads to segfault in C API"
The conversion routine from char** to string vector in
adios2_c_io.cpp:296-310  adios2_define_variable_attribute()
is faulty. A test code in C

char *strarray[] = {"first", "second", "third", "fourth"};
adios2_define_attribute(ioH, "strarray", adios2_type_string_array, strarray, 4);

leads to segmentation fault. The incoming const void * pointer should be cast to const char **
then there is a cons

[2018-09-28 22:05] williamfgc commented on #895
This should be fixed.

[2018-10-01 13:30] #871 closed

[2018-10-01 13:36] pnorbert commented on #851
This is fixed now by enabling both writer and reader progress alone if not connected to other code. However, users may be surprised that the codes (in separate mpirun launches) apparently run but they exchange no data.

[2018-10-01 17:16] keichi opened #902 "In-situ MPI engine crashes on Titan as it scales"
Brusselator + norm_calc coupled with In-situ MPI engine crashes on Titan as it scales (approximately more than 128 Brusselator procs and 16 norm_calc procs). `MPI_Waitall()` called from `InSituMPIReader::ProcessReceives()` seems to be causing the crash.

[code]
On Eos, the same workflow runs without any errors.

Brusselator code is slightly modified from the original to support In-situ MPI engine:

[2018-10-01 17:19] keichi commented on #902
ADIOS2 versionis fa09d0bf4b2b7f9e62ac1bbff799b97f8ef0e54d. I also tested with  e1278c966f5b79dcc5f162c4ac19acccd3188e7e  (which is before I introduced some optimization to the In-situ MPI engine) and the problem still exists.

[2018-10-01 19:17] keichi commented on #902
Found a workaround. Setting an environment variable`MPICH_GNI_MALLOC_FALLBACK=enabled` prevents the crash.

[2018-10-01 20:53] keichi commented on #902
@pnorbert Enabling Huge Pages does fix the crash too. My guess is that Cray MPICH tries to allocate Huge Pages for its internal buffer under some condition and fails if Huge Pages is not available. Therefore, enabling Huge Pages or allowing MPICH to fall back to malloc (4K pages) fixes the problem.

Anyway, closing this issue since this is not a problem in ADIOS.

[2018-10-01 20:53] #902 closed

[2018-10-02 16:57] keichi opened #905 "Short writes are not treated correctly in FilePOSIX transport"
Currently, ADIOS2 aborts when POSIX write() writes fewer bytes than requested. Short writes are explicitly allowed in the POSIX specification and need to be treated correctly (repeat write() until no unwritten data is left).

https://github.com/ornladios/ADIOS2/blob/ebb0c217e51ce415e066c5cab3c9b71b53271bf5/source/adios2/toolkit/transport/file/FilePOSIX.cpp#L81-L101

[2018-10-02 16:59] keichi commented on #905
This is causing occasional aborts on my application.

[2018-10-02 17:14] williamfgc commented on #905
@keichi is this aborting or throwing an exception. If it throws an exception is it the one triggered by if (static_cast<size_t>(writtenSize) != size) ? Any compelling reason why size and writtenSize are not the same for each write?

[2018-10-02 17:52] williamfgc commented on #905
@keichi this is what `man 2 write` says:

`The number of bytes written may be less than count if, for example, there is insufficient space on the  under‐lying  physical  medium, or the RLIMIT_FSIZE resource limit is encountered (see setrlimit(2)), or the call was interrupted by a signal handler after having written less than count bytes.  (See also pipe(7).)`

[2018-10-02 18:06] keichi commented on #905
Hmm so writing less shouldn't be allowed except under those conditions?

Relevant thread from the Lustre mailing list:
https://groups.google.com/forum/#!topic/lustre-discuss-list/-wFgIIQ6PDk

[2018-10-02 18:12] eisenhauer commented on #905
@keichi you are right.  The write() call should be in a loop that handles the situation where the write is short but not erroneous.

[2018-10-02 18:44] eisenhauer commented on #905
A loop around the write() call is standard practice because returning a short write is explicitly allowed by the specification.  Intro class example here: https://www.cs.uky.edu/~raphael/programming.html

[2018-10-02 18:47] keichi commented on #905
Here's my fix, I'm testing it on Titan now. I'm also testing FileStdio transport and FileFStream transport if the same problem occurs.

[2018-10-02 19:07] williamfgc commented on #905
@eisenhauer that doesn't guarantee data integrity at scale on HPC systems, not surprised as it's intro material. @keichi thanks for testing, I wonder about the failure rates on Titan and if fstream is taking care of it internally, in the docs it says nothing about it.

[2018-10-02 19:16] eisenhauer commented on #905
No guarantees unless you read back what you wrote, but ya gotta do the loop or you won't even get that far...

[2018-10-02 19:39] pnorbert opened #908 "Testing with libfabric"
Opened issue to remind everyone we need a coordinated effort to ensure we test SST with libfabric (and without of course).

[2018-10-02 21:06] jychoi-hpc commented on #813
Is there any update? I just tried again today on Titan but got the following error lines:
[code]

[2018-10-03 15:08] #905 closed

[2018-10-03 15:10] JasonRuonanWang commented on #880
Can anyone reproduce this?

[2018-10-03 17:09] williamfgc commented on #880
@JasonRuonanWang these are my compilers:
[code]

[2018-10-03 21:16] pnorbert commented on #895
This is fixed.

[2018-10-03 21:16] #895 closed

[2018-10-03 22:09] pnorbert opened #912 "ctest cannot launch MPMD tests on Cori with Slurm"
The MPMD tests (SST, InsituMPI) cannot run on Cori because the launch syntax is different from what cmake generates. See
https://www.nersc.gov/users/computational-systems/cori/running-jobs/advanced-running-jobs-options/
Search for MPMD.
`srun --multi-prog ./mpmd.con`
Currently we get errors for each test:
`srun: fatal: Job steps that span multiple components of a heterogeneous job are not currentl

[2018-10-04 18:30] pnorbert opened #913 "SST has a"
SST has the same scalability issue that InsituMPI had in
Fix scalability bottleneck in InSituMPIReader PR #863

"Currently, the reader receives and deserializes messages from each writer one by one. This design is limiting the scalability in terms of the number of writers per reader. Need to change the behavior to a bulk receive followed by a bulk deserialization."

ffs_marshal.c:
[code]
Similarly

[2018-10-04 19:00] pnorbert commented on #913
Oh, quite the opposite. SST readers may benefit from overlapping waits and deserializations, which in the above PR was slowing down the __Writer__ side. In case of SST, the Writer side is progressing asynchronously, so this would not be an issue.

[2018-10-05 14:06] jychoi-hpc commented on #813
With 1024 writers and 1024 readers, I got the following error:
[code]
I am wondering if `ulimit -n` can help here.

[2018-10-05 14:12] eisenhauer commented on #813
That sounds like you are running out of file descriptors, which is expected to happen at some point with TCP/IP (and why we want RUDP).   You can try ulimit -n, but there may also be limits to how big you can make that.  Either at the OS configuration level, or compiled into the kernel (those limits might be gone now, but they used to be a very hard limit).

[2018-10-05 17:08] williamfgc opened #914 "Preserve string array attribute for single element arrays in C API"

[2018-10-08 14:48] williamfgc opened #915 "Allow nullptr in zero count (zero size blocks) in Put"

[2018-10-09 18:19] williamfgc commented on #867
This should be done!

[2018-10-09 18:19] #867 closed

[2018-10-09 18:39] williamfgc commented on #825
Done

[2018-10-09 18:39] #825 closed

[2018-10-10 16:34] pnorbert opened #921 "Need min/max info in C read API"

[2018-10-10 16:45] williamfgc commented on #915
@tkurc

[2018-10-10 16:45] #915 closed

[2018-10-10 16:45] williamfgc commented on #914
@tkurc

[2018-10-10 16:45] #914 closed

[2018-10-10 17:35] williamfgc commented on #795
@guj @pnorbert can we close this?

[2018-10-10 17:36] guj commented on #795
Yes, I think so - Junmin

[2018-10-10 17:39] #795 closed

[2018-10-10 17:40] guj commented on #795
William checked in code already

[2018-10-10 23:17] #921 closed

[2018-10-11 00:18] williamfgc commented on #725
@keichi can this be set from adios2's cmake scripts? The only way it worked on my Mac is if I explicitly set  `export OMPI_MCA_rmaps_base_oversubscribe="yes"` before compilation.

[2018-10-11 12:40] williamfgc opened #923 "Settings substreams with subcomm of size=1 segs fault"
For example, if mpi nprocs = 4 and substreams = 3.

subcomm0 = 0 (crash)    -> substream1
subcomm1 = 1 (crash)    -> substream2
subcomm2 = 2, 3            -> substream3

[2018-10-11 13:17] williamfgc commented on #923
@tkurc please check the latest master

[2018-10-14 19:49] eisenhauer commented on #908
PR #925  "Modify dataplane selection process so that we can do run-time viability determination" is the first step in this direction.

[2018-10-14 19:53] eisenhauer opened #926 "Multiple DataPlanes?"
Possible useful enhancement.  With the current SST design, there is only one dataplane per stream, with the result (generally) that the writer must choose a particular dataplane and all readers must employ the same one.  However, it might be desirable for the dataplane to be negotiated between reader and writer, and possibly for the dataplane to be a per-reader thing (so that you could have a clus

[2018-10-15 15:03] keichi commented on #725
@williamfgc Setting it from the cmake scripts should work, since `OMPI_MCA_rmaps_base_oversubscribe=1 ctest` works for me.

[2018-10-15 15:16] williamfgc opened #927 "Enable empty constructor for IO object in C++11 bindings"
@pnorbert  so placeholders can be possible:

[code]

[2018-10-15 19:07] williamfgc opened #928 "Enable DefineVariable and Put by name after streaming reader"
Basically move "global" (to IO engines) IO.m_Streaming flag to each Engine.  Trailing info didn't let reader and writer with new variables come from the same IO.

[2018-10-15 19:19] suchyta1 opened #931 "LockDefinitions() in Python bindings"
I think `LockDefinitions()` is missing from the glue layer in the Python bindings. I was trying to test that out in some of my code, but when I try to call the method from an `IO` object that has been opened into into an engine for reading, the method isn't there. @williamfgc @keichi @pnorbert

<img width="833" alt="screen shot 2018-10-15 at 3 14 41 pm" src="https://user-images.githubusercontent.c

[2018-10-15 22:56] #923 closed

[2018-10-15 22:56] #928 closed

[2018-10-15 22:56] #927 closed

[2018-10-16 17:21] JasonRuonanWang opened #934 "Bug for writing a lot of large string variables"
Can be reproduced using the following testing code

#include <adios2.h>

#include <iostream>

std::string a = "test_string aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa";

int main(int argc, char **argv)

{

    MPI_Init(nullptr, nullptr);

    adios2::ADIOS adios(MPI_COMM_WORLD);

    adio

[2018-10-16 20:21] williamfgc commented on #934
@JasonRuonanWang this should be fixed

[2018-10-16 21:14] #934 closed

[2018-10-17 11:48] williamfgc commented on #725
PR #938 works on my Mac if I set `export OMPI_MCA_rmaps_base_oversubscribe=yes` or if I pass it to cmake and ctest.   `OMPI_MCA_rmaps_base_oversubscribe=yes cmake` `OMPI_MCA_rmaps_base_oversubscribe=yes ctest`

[2018-10-17 12:07] williamfgc opened #939 "Kill spurious 118 - ADIOSSstKillReadersTest.Serialized (Failed) test"
This is showing up more often in the CI every time I do a PR. Removing it until figuring out what's going on would be certainly helpful.

[2018-10-17 12:10] williamfgc commented on #939
Check current PR #938 CI

[2018-10-17 12:33] jychoi-hpc commented on #770
Is there any update on this? I am getting this problem too.

[2018-10-17 13:35] eisenhauer commented on #939
I've committed a change that causes the test to ignore the bug.

[2018-10-17 13:35] #939 closed

[2018-10-17 13:36] eisenhauer commented on #856
I believe that this was fixed a few weeks ago.  If not, please resubmit.

[2018-10-17 13:36] #856 closed

[2018-10-17 14:15] keichi commented on #931
@williamfgc Thanks, the glue code for Python was incomplete.

[2018-10-17 15:05] #931 closed

[2018-10-17 15:56] williamfgc commented on #880
[DataMan_Mac.log](https://github.com/ornladios/ADIOS2/files/2488077/DataMan_Mac.log)

@JasonRuonanWang I attached a log file for my recent OS upgraded MAC with the latest master. Sometimes it works, sometimes it doesn't. I use the oversubscribe on OpenMPI `OMPI_MCA_rmaps_base_oversubscribe=yes cmake ..` and `OMPI_MCA_rmaps_base_oversubscribe=yes ctest -VV -R DataManEngineTest.WriteRead_1D_P2P`
You

[2018-10-17 16:03] JasonRuonanWang commented on #880
How does OMPI_MCA_rmaps_base_oversubscribe affect the behavior? I never used it.

[2018-10-17 17:29] williamfgc commented on #880
I don't know if this affects the behavior. It's just how I could reproduce on my High Sierrra Mac that has 2 cores, but wants to run 4 mpi processes.

[2018-10-17 18:06] JasonRuonanWang commented on #880
I compiled and ran using exactly what you posted, and put it into an infinite loop in bash. It's been running for about half an hour, and I still haven't seen the error.

I was using High Sierra 10.13.6, Clang 10.0.0, and OpenMPI 3.1.0 compiled with threading enabled.

[2018-10-17 19:52] jychoi-hpc opened #943 "Getting errors with heat2d example in Adios tutorial"
Tried to update heat2d (fortran version) in the tutorial (adiosvm) to use the most recent version of Adios2. My update is making some error with InSituMPI at the last step:
[code]
I have checked in my changes to the ADIOSVM repository (my changes are [here](https://github.com/pnorbert/adiosvm/commit/ba5eeb37e35a7d6b150a09fc197aae7bec643f20))

I am getting similar errors in other code too (XGC coup

[2018-10-17 21:45] williamfgc commented on #943
Hi @jychoi-hpc please check against istatus, not ierr after begin_step.

[2018-10-18 18:31] jychoi-hpc commented on #943
Great!! It works now.
Then, now we need to check both ierr and istatus?

[2018-10-18 18:37] jychoi-hpc commented on #943
Before this, we checked "adios2_step_status_end_of_stream" at the end of stream (adios2_end_step). Now we should check after calling "adios2_begin_step". Is it also right?

[2018-10-18 22:44] williamfgc commented on #943
hi @jychoi-hpc , the check for status has always been after `adios2_begin_step` ,`adios2_end_step` doesn't check step status, it basically executes puts and gets since the step is signaled ready at `adios2_begin_step`.  Just like `MPI_IRecv` there is a flag for actual errors (`ierr`), and a `MPI_Request` that can be checked with a `MPI_Status`, thus a flag for status.  `ierr` is for user (invalid

[2018-10-20 13:06] williamfgc commented on #943
@jychoi-hpc let me know if this is still an issue, otherwise let's close it. In Fortran, MPI request, status and ierr are all integers as well. Thanks.

[2018-10-25 13:54] pnorbert commented on #943
This has been fixed in the tutorial example.

[2018-10-25 13:54] #943 closed

[2018-10-25 13:55] #851 closed

[2018-10-25 17:51] keichi opened #951 "Can't disable DataMan engine using ADIOS2_USE_DataMan cmake variable"
Fujitsu's compiler crashes when building DataMan. As a workaround,  I'm trying to disable DataMan for now. However, DataMan is enabled even if `ADIOS2_USE_DataMan` is set to `OFF`.

[2018-10-25 18:42] keichi commented on #951
Thanks, I think `ADIOS2_USE_DataMan` should be checked here:
https://github.com/ornladios/ADIOS2/blob/2d86df275a3514f97919abc8e01ec28f4154c5f8/cmake/DetectOptions.cmake#L73-L77

[2018-10-25 18:45] keichi commented on #951
Unfortunately, the error messages are in Japanese...

[code]

I think it's a bug in the compiler.

[2018-10-25 18:51] JasonRuonanWang commented on #951
Lucky enough I can understand roughly by reading those Chinese characters. 警告 in Chinese means warning, not error. Is it the same in Japanese? This is very interesting as there is no real errors shown but a seg fault from the compiler...

[2018-10-25 19:02] keichi commented on #951
You're right, these are all warnings, not errors.

[code]

I'm not sure but maybe this is where the compiler is crashing?

[2018-10-25 19:39] JasonRuonanWang commented on #951
I am almost sure that it's the nlohmann::json library causing this problem, since that's the only thing in the DataManSerializer class which could possibly have used some compiler-specific things. Everything else is just plain C++11 code.

[2018-10-26 15:06] JasonRuonanWang commented on #951
@keichi I have merged the PR to solve this problem. Please have a try and let me know if it works on your environment. Thanks.

[2018-10-26 20:14] williamfgc opened #960 "Missing reading attribute data in Fortran bindings"
Must add `adios2_attribute_data( data, attribute )` for all attribute types

[2018-10-28 18:48] suchyta1 opened #962 "Fortran bindings step count"
I've written a simple Fortran program to read a BPFile. This file has a single step, but calls to `adios2_current_step` are returning values larger than one if I call `adios2_begin_step` with `adios2_step_mode_next_available` more than once. Also the step status always seems to return 0, which isn't especially surprising I suppose, given the `begin_step` behavior, but I was expecting `begin_step`

[2018-10-28 18:58] pnorbert commented on #962
The BeginStep syntax has changed. You need to get status from there and
exit the loop on that status.
call adios2_begin_step(fh, adios2_step_mode_next_available, -1.0, istatus,
ierr)

See example:
https://github.com/pnorbert/adiosvm/blob/master/Tutorial/heat2d/fortran/analysis/heatAnalysis_adios2_stream.F90

 do
        call adios2_begin_step(fh, adios2_step_mode_next_available, -1.0,
istatus, ier

[2018-10-28 23:30] williamfgc commented on #962
Hi @suchyta1 I sent an email about the API changes a while back about changes to sync the C and Fortran bindings. ierr and status are separated just like in MPI_Irecv (which is what BeginStep is, a receiver in read mode) as they signal two different things. Please follow what @pnorbert posted. I am asking for everyones' patience in the API changes, which are in the latests stages, but this is typi

[2018-10-29 18:46] eisenhauer opened #965 "Meaningful Dynamic Analysis of MPI jobs and Staging Transports"
Currently we are doing no valgrind analysis of SST (and Dataman?) because CMake isn't running valgrind on the right thing.  For the ADIOSSst* family of tests, they are run with valgrind doing analysis of the perl script that forks the MPI jobs that make up the actual test.  For the TestStagingMPMD* family, valgrind is only analyzing mpiexec.   It would be better to sort out how to run dynamic anal

[2018-10-30 15:40] williamfgc opened #967 "Disable SST tests when building ADIOS2_USE_SST=OFF"

[2018-10-30 18:00] #967 closed

[2018-10-30 18:53] fbudin69500 opened #970 "Allow adding attributes at any step"
Currently, it is technically possible to define a new attribute after step 0, but that attribute is not saved if the first step has been performed.

It would be important to either:
* Let the user know that the attribute is not saved, both in ADIOS2 documentation and maybe with an error message (throw).
* Save (new) attributes at each step.

This is especially true for attributes for transient var

[2018-10-30 20:24] jychoi-hpc opened #971 "Build with python"
When I am trying to build with python (-DADIOS2_USE_Python=ON), it looks like cmake is trying to find "python3" first, not "python".

I am wondering if this is the current case. I think it didn't do that way before.

I think it would be reasonable to search "python" first by default.

[2018-10-30 21:37] keichi commented on #823
Try intel/18.0.3.222 , I could build the Python binding with it.

[2018-10-30 23:48] williamfgc commented on #971
@chuckatkins please chime in on python3 having precedence over python 2.  @jychoi-hpc please check the docs: https://adios2.readthedocs.io/en/latest/installation/installation.html#enabling-the-python-bindings the minimum requirements section. You can always provide the python executable to cmake: -DPYTHON_EXECUTABLE=

[2018-10-31 11:42] suchyta1 commented on #962
OK, thanks! I'm not having the issues any more.

[2018-10-31 11:42] #962 closed

[2018-10-31 15:06] williamfgc opened #973 "available variables value is failing at step 1"
Read streaming mode:

[code]

[2018-10-31 17:52] jychoi-hpc commented on #971
Sorry. I haven't checked the document.

If I have all pythons in my path: python, python2, and python3, cmake will find python3 > python2 > python in that order. Is it right?

It's not a big deal. I will use -DPYTHON_EXECUTABLE option. Thanks.

[2018-10-31 19:41] williamfgc commented on #971
@jychoi-hpc yeah, it will try to find the toolchain: python-dev, numpy, mpi4py, not only the python executable. OK, thanks!

[2018-10-31 19:41] #971 closed

[2018-11-01 23:17] JasonRuonanWang opened #981 "cmake error with xcode"
CMake Error in source/utils/CMakeLists.txt:
  Evaluation file to be written multiple times with different content.  This
  is generally caused by the content evaluating the configuration type,
  language, or location of object files:

   /Users/jason/build/adios2_xcode/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/bpls.cmake

CMake Error in source/utils/CMakeLists.txt:
  Evaluation file to be written

[2018-11-06 08:57] ax3l opened #985 "Conda-Forge Feedstock"
Are you planning a conda-forge feedstock for quick installs?

Although the primary audience will barely be HPC with conda-forge, I find a conda-forge binary release quite useful for desktop applications such as [HDFcompass](https://github.com/HDFGroup/hdf-compass), people writing serial python scripts on small data and CI in [downstream projects](https://github.com/openPMD/openPMD-api).

Full disc

[2018-11-06 13:34] williamfgc commented on #985
Hi @ax3l we don't have immediate plans or resources targeting specific package managers. That being said, we'll be very happy to work with you on a conda distribution if you're interested. Our priority is to get the December release out and have a stable cmake build backend for the C++11 library and bindings, so any package manager frontend can be then applied. BTW, package managers have become my

[2018-11-06 16:00] ax3l commented on #985
Hi @williamfgc, thank you for the quick answer. That sounds great! A student of ours (@franzpoeschel) is currently starting to explore ADIOS2 in detail to make it usable in [openPMD-api](https://github.com/openPMD/openPMD-api) and with that in [PIConGPU](https://github.com/ComputationalRadiationPhysics/picongpu/).

We will soon-ish need it in CI and CD. When we are there I will probably set up a c

[2018-11-06 16:38] williamfgc commented on #985
Hi @ax3l @franzpoeschel thanks for the update, looking forward to hearing about your experience with  openPMD-api/PIConGPU and the conda-forge feedstock. Let us know if you have any questions. For the python scripts applications on small data, desktop apps and CI cases we built a high-level simplified API that is all write/read (sync) based for a quick jump start. For a [Python example](https://gi

[2018-11-06 17:39] ax3l commented on #985
Excellent, we will write the openPMD bindings against the native C++11 API and should use the ADIOS2 python API again in projects like [HDF-Compass](https://github.com/HDFGroup/hdf-compass) so we have a file explorer at hands.

[2018-11-06 18:38] kshitij-v-mehta opened #987 "Python function to check no. of steps available"
Using the low-level Python Read API, is there a way to get the number of timesteps available for a variable?

[2018-11-06 18:55] williamfgc commented on #987
@kshitij-v-mehta thanks. This implies complete reimplementation of the Variable object and all of its functions. It's on my list, I just haven't had the chance to look into it. Thanks!

[2018-11-06 20:13] williamfgc commented on #985
@ax3l my bad, actually @chuckatkins has something you can start with: (adios2-conda scripts)[https://github.com/ornladios/ADIOS2/tree/master/scripts/conda]

[2018-11-11 16:05] keichi opened #997 "SST: CM_INTERFACE as an engine parameter"
Hi, I want to run adios_reorganize with SST for both input and output, each using a different network interface. I can set CM_INTERFACE to select which NIC to use, but it doesn't work if there are multiple engines like in this situation since environment variables are global. Can we have CM_INTERFACE as an engine parameter?

[2018-11-11 16:43] eisenhauer commented on #997
Keichi, yes, in principal.  In practice that will take a bit of juggling and rearrangement as there are several layers of software to penetrate.

Sent from my iPhone

On Nov 11, 2018, at 10:05 AM, Keichi Takahashi <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, I want to run adios_reorganize with SST for both input and output, each using a different network interface. I can

[2018-11-11 18:13] eisenhauer commented on #997
Fix merged.  Still need to document.

[2018-11-11 18:13] #997 closed

[2018-11-13 16:31] williamfgc opened #1000 "Error when reading subfile with substreams=1"
bool subfiles = true when substreams = 1 in bp.0 subfile